<div class="jumbotron">
    <div class="container">
      <h2 style="font-weight:bold">Information about age grading on this site</h2>
      <p>
        Age grading for road and track races relies on data collected by Tom Bernhard and ARRS, then compiled by Alan Jones. Since race records constantly evolve, the accuracy of age grading depends on how recent the data is.
      </p>
      <p>
       Data releases may not always include all previously covered distances. For instance, the 2-mile track factor was present in the 2005 data but missing from the 2023 version. As a consequence, races held in 2023 and beyond won't have an age-graded score for that distance.
      </p>
      <hr>
      <h3>Distances Included in Age Grading Calculations</h3>
      <div class="row">
        <div class="col-md-6">
          <h4>Road Racing</h4>
          <ul>
            <li>
              From 2020 onwards:
              <ul class="list-unstyled"> 
                <li>1 mile</li>
                <li>5k</li>
                <li>6k</li>
                <li>4 miles</li>
                <li>8k</li>
                <li>5 miles</li>
                <li>10k</li>
                <li>12k</li>
                <li>15k</li>
                <li>10 miles</li>
                <li>20k</li>
                <li>Half marathon</li>
                <li>25k</li>
                <li>30k</li>
                <li>Marathon</li>
                <li>50k</li>
                <li>50 miles</li>
                <li>100k</li>
                <li>150k</li>
                <li>100 miles</li>
                <li>200k</li>
              </ul>
            </li>
            <br>
            <li>
              From 2013 to 2020:
              <ul class="list-unstyled">
                <li>5k</li>
                <li>6k</li>
                <li>4 miles</li>
                <li>8k</li>
                <li>5 miles</li>
                <li>10k</li>
                <li>12k</li>
                <li>15k</li>
                <li>10 miles</li>
                <li>20k</li>
                <li>Half marathon</li>
                <li>25k</li>
                <li>30k</li>
                <li>Marathon</li>
                <li>50k</li>
                <li>50 miles</li>
                <li>100k</li>
                <li>150k</li>
                <li>100 miles</li>
                <li>200k</li>
                </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Track Racing</h4>
          <ul>
            <li>
              From 2023 onwards:
              <ul class="list-unstyled">
                <li>60m</li>
                <li>100m</li>
                <li>200m</li>
                <li>400m</li>
                <li>800m</li>
                <li>1000m</li>
                <li>1500m</li>
                <li>1 mile</li>
                <li>3000m</li>
                <li>5000m</li>
                <li>10000m</li>
              </ul>
            </li>
            <br>
            <li>
              From 2013 to 2022:
              <ul class="list-unstyled">
                <li>1500m</li>
                <li>1 mile</li>
                <li>2000m</li>
                <li>3000m</li>
                <li>2 miles</li>
                <li>5000m</li>
                <li>6000m</li>
                <li>4 miles</li>
                <li>8000m</li>
                <li>5 miles</li>
                <li>10000m</li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  