<div class="jumbotron" >

    

    <div class="row">
        <div class="col-md-12" >
            <h3 style="font-weight: bold;">Information about age grading on this site</h3>
                
                Age grading for road and track races relies on data collected by <a style="font-weight: bold;text-decoration: underline;" href="mailto:tlbernhard2@gmail.com">Tom Bernhard</a> and ARRS, then compiled by <a style="font-weight: bold;text-decoration: underline;" href="mailto: alan@runscore.com">Alan Jones</a>. Since race records constantly evolve, the accuracy of age grading depends on how recent the data is.
                <br><br>
                It's important to note that data releases may not always include all previously covered distances. For instance, the 2-mile track factor was present in the 2005 data but missing from the 2023 version. As a consequence, races held in 2023 and beyond won't have an age-graded score for that distance.
                <br><br>
                Current files used: Roads: 2025, Track 2023
                <br><br>
                Files used to compute the age grading are available <a style="font-weight: bold;text-decoration: underline;" href="https://github.com/ncrouzier/race-team-records/tree/master/doc">here</a>.                
                
        </div>
    </div>


</div>
