<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2>Race types <img class="hoverhand" ng-show="user.role == 'admin'" ng-click="showAddRaceTypeModal()" ng-src="images/add.png" title="Add race type" alt="Add race type"></h2>
            <ul class="list-group">
                <li class="list-group-item hoverhand" ng-repeat="racetype in racetypesList">
                {{racetype.name}} ({{racetype.surface}})<img ng-show="user.role == 'admin'" ng-click="deleteRaceType(racetype)" ng-src="images/delete.png" title="remove race type" alt="remove race type"> <img ng-show="user.role == 'admin'" ng-click="retrieveRaceTypeForEdit(racetype)" ng-src="images/edit.png" title="edit race type" alt="edit race type">
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            caca
        </div>
    </div>


</div>


<script type="text/ng-template" id="raceTypeModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Result</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group css-form">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label text-left">Race type name:</label>
                        <input type="text" class="form-control input-md text-left" ng-model="formData.name">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label text-left">Surface: {{formData.surface}}</label>
                        <br>
                        <ui-select ng-model="formData.surface" theme="select2" style="min-width: 300px;">
                            <ui-select-match placeholder="Select a surface">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="surface in surfaces">
                                <div ng-bind-html="surface | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label text-left">Distance in meters:</label>
                        <input type="text" ng-model="formData.meters" 	 class="form-control input-md text-left">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label text-left">Distance in miles:</label>
                        <input type="text" ng-model="formData.miles" class="form-control input-md text-left">
                    </div>

                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- createMember() WILL CREATE NEW Members -->
        <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editRaceType()">Edit Race Type</button>
        <button ng-show="!editmode" type="submit" class="btn btn-primary" ng-click="addRaceType()">Add Race Type</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
