<div class="text-center">
    <div class="col-sm-6 col-sm-offset-3">

        <h1>Email Me a Login Link</h1>

        <div ng-show="message" class="alert" ng-class="{'alert-success': success, 'alert-danger': !success}">
            {{message}}
        </div>

        <form name="form" ng-submit="requestLink(email)" ng-hide="success">
            <div class="form-group">
                <label>Email Address</label>
                <input type="email" class="form-control" name="email" ng-model="email" required auto-focus>
            </div>
            <button ng-disabled="!form.$valid" type="submit" class="btn btn-warning btn-lg">Send Login Link</button>
        </form>

        <hr>
        <p><a ui-sref="/login">Back to Login</a></p>
    </div>
</div>
