<div class="jumbotron ">

    <p class="text-left">Welcome to the MCRRC racing team results and records site.</p>
    <p class="introtext"><small><i>The MCRRC racing team was established in the spring of 2013 to assemble and recognize
                highly talented and competitive members of MCRRC, promote competitive distance running among club
                members, and increase the visibility of MCRRC within the broader running community. The program
                establishes racing teams to compete at races in the metropolitan Washington, DC area. <a
                    href="https://www.mcrrc.org/teams/competitive-racing-team" target="_blank"><b>learn
                        more...</b></a></i></small>
    </p>

    <div class="row">
        <div class="col-md-12">
            <h4>Last 5 Races <small> <a ui-sref="/results">View all results</a></small></h4>
            <div class="row">
                <div class="col-md-12">
                    <race-list races-list="recentRaces" search-query="searchQuery"
                        results-table-properties="resultsTableProperties" user="user">
                    </race-list>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Latest Achievements</h4>
            <ul class="list-group" ng-if="recentAchievements.length > 0">
                <li class="list-group-item" ng-repeat="ach in recentAchievements">
                    <div ng-if="ach.achievements.length === 1">
                        <span ng-switch="ach.achievements[0].name.toLowerCase()">
                            <span ng-switch-when="pb">
                                <b><a ui-sref="/members/member({ member: ach.result.members[0].username })">
                                        {{::ach.result.members[0].firstname}}
                                        {{::ach.result.members[0].lastname}}</a></b> achieved a new
                                {{ach.race.racetype.name}} ({{ach.race.racetype.surface}}) PR of <span
                                    class="time">{{::ach.achievements[0].value.time | secondsToTimeString}}</span> with
                                the team at <b><a class="hoverhand" ng-click="showRaceModal(ach.race)">
                                        {{::ach.race.racename}}</a></b>!
                            </span>
                            <span ng-switch-when="racecount">
                                <b><a ui-sref="/members/member({ member: ach.result.members[0].username })">
                                        {{::ach.result.members[0].firstname}}
                                        {{::ach.result.members[0].lastname}}</a></b> ran their
                                {{ach.achievements[0].value.raceCount | addOrdinalSuffix}} race at <b><a
                                        class="hoverhand" ng-click="showRaceModal(ach.race)">
                                        {{::ach.race.racename}}</a></b>!
                            </span>
                            <span ng-switch-when="agegrade">
                                <b><a ui-sref="/members/member({ member: ach.result.members[0].username })">
                                        {{::ach.result.members[0].firstname}}
                                        {{::ach.result.members[0].lastname}}</a></b> achieved a new age grade
                                performance best of {{::ach.achievements[0].value.agegrade}}% at <b><a class="hoverhand"
                                        ng-click="showRaceModal(ach.race)"> {{::ach.race.racename}}</a></b>.
                            </span>
                        </span>
                    </div>
                    <div ng-if="ach.achievements.length > 1">
                        <b><a ui-sref="/members/member({ member: ach.result.members[0].username })">
                                {{::ach.result.members[0].firstname}} {{::ach.result.members[0].lastname}}</a></b>
                        <span> had the following achievements at </span>
                        <b><a class="hoverhand" ng-click="showRaceModal(ach.race)"> {{::ach.race.racename}}</a></b>:
                        <ul>
                            <li ng-repeat="a in ach.achievements">
                                <span ng-switch="a.name.toLowerCase()">
                                    <span ng-switch-when="pb">
                                        Achieved a new {{ach.race.racetype.name}} ({{ach.race.racetype.surface}}) PR of
                                        <span class="time">{{::a.value.time | secondsToTimeString}}</span>.
                                    </span>
                                    <span ng-switch-when="racecount">
                                        Ran their {{a.value.raceCount | addOrdinalSuffix}} race.
                                    </span>
                                    <span ng-switch-when="agegrade">
                                        Achieved a new age grade performance best of {{::a.value.agegrade}}%.
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <p ng-if="allAchievements.length === 0" class="text-muted">No recent achievements.</p>
            <div ng-if="achievementsTotalPages > 1" class="text-center">
                <ul class="pagination pagination-sm">
                    <li ng-class="{disabled: achievementsPage === 1}">
                        <a href ng-click="achievementsPrevPage()">&laquo;</a>
                    </li>
                    <li class="active"><a href>{{achievementsPage}} / {{achievementsTotalPages}}</a></li>
                    <li ng-class="{disabled: achievementsPage === achievementsTotalPages}">
                        <a href ng-click="achievementsNextPage()">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Recent Team Ins & Outs <small>(last 60 days)</small></h4>
            <ul class="list-group" ng-if="recentStatusChanges.length > 0">
                <li class="list-group-item" ng-repeat="change in recentStatusChanges">
                    <b><a ui-sref="/members/member({ member: change.member.username })">{{change.member.firstname}}
                            {{change.member.lastname}}</a></b>
                    <span ng-if="change.type === 'entry'">joined</span>
                    <span ng-if="change.type === 'exit'">left</span>
                    <span>the team on {{change.date | date:'mediumDate':'UTC'}}</span>
                </li>
            </ul>
            <p ng-if="allStatusChanges.length === 0" class="text-muted">No changes in the last 60 days.</p>
            <div ng-if="statusChangesTotalPages > 1" class="text-center">
                <ul class="pagination pagination-sm">
                    <li ng-class="{disabled: statusChangesPage === 1}">
                        <a href ng-click="statusChangesPrevPage()">&laquo;</a>
                    </li>
                    <li class="active"><a href>{{statusChangesPage}} / {{statusChangesTotalPages}}</a></li>
                    <li ng-class="{disabled: statusChangesPage === statusChangesTotalPages}">
                        <a href ng-click="statusChangesNextPage()">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>





</div>