<div class="jumbotron">

    <br>
    <div class="row">
        <div class="col-sm-3" style="padding-left:0px">
            <span>Search members:</span>
            <br>
            <input ng-model="query" class="form-control" type="text" placeholder="Filter by" autofocus>
        </div>
        <div class="col-sm-3">
            <span>Gender:</span>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getMembers()" btn-radio="'Male'">Male</label>
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getMembers()" btn-radio="'Female'">Female</label>
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getMembers()" btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-3">
            <span>Category:</span>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getMembers()" btn-radio="'Open'">Open</label>
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getMembers()" btn-radio="'Master'">Master</label>
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getMembers()" btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-3">
            <span>Member Status:</span>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.memberStatus" ng-change="getMembers()" btn-radio="'current'">Current</label>
                <label class="btn btn-primary" ng-model="paramModel.memberStatus" ng-change="getMembers()" btn-radio="'past'">Past</label>
                <label class="btn btn-primary" ng-model="paramModel.memberStatus" ng-change="getMembers()" btn-radio="'all'">Both</label>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Member LIST -->
        <h2>Team members ({{membersList.length}}) <i class="hoverhand fa fa-user-plus" style="color:#03C03C;" ng-show="user.role == 'admin'" ng-click="showAddMemberModal()" title="Add member"></i></h2>
        <div id="member-list" class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <li ng-click="setMember(member);" ng-style="memberList" class="list-group-item hoverhand" ng-repeat="member in membersList | memberFilter:query | orderBy: 'firstname'" ng-class="{ 'list-group-item-male': member.sex == 'Male', 'list-group-item-female': member.sex == 'Female','selected-class-name': member._id == currentMember._id }">
                        <span>{{ member.firstname }} {{ member.lastname }} </span><span class="pull-right"> <i class="hoverhand fa fa-pencil-square-o" ng-show="user.role == 'admin'" ng-click="retrieveMemberForEdit(member)" title="edit user"></i><i class="hoverhand fa fa-times" ng-show="user.role == 'admin'" ng-click="removeMember(member)" title="remove user" ></i></span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="highlightdark">

                    <div ng-show="currentMember" >
                        <div class="row text-center">
                            <h2>{{currentMember.firstname}} {{currentMember.lastname}} </h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Member Info:</h4>
                                <span style="color:#000;"><b>Category:</b> {{currentMember.dateofbirth | categoryFilter}}</span>
                                <br>
                                <!-- <b>Member Bio:</b> <span ng-bind-html="currentMember.bio"></span> -->
                            </div>
                            <div class="col-sm-6">
                                <h4 title="Personal bests as MCRRC race team member">Personal Bests:</h4>
                                <ul class="list-group">
                                    <li class="list-group-item text-left resultlistrow" ng-repeat="result in currentMemberPbsList">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <span> {{result.racetype.name}}</span>
                                            </div>
                                            <div class="row">
                                                <span> {{result.time | secondsToTimeString}}</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h3>Latest Results:</h3>
                        <ul class="list-group">
                            <li class="list-group-item text-left resultlistheader" ng-show="currentMemberResultList.length >0">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <span class="listheader" title="Event and date">Event</span>
                                    </div>
                                    <div ng-class="user.role == 'admin' ?'col-sm-3' :'col-sm-4'">
                                        <span class="listheader" title="Net Time">Net Time</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span class="listheader" title="Pace">Pace</span>
                                    </div>
                                    <div class="col-sm-1" ng-show="user.role == 'admin'">
                                        <span class="listheader" title="Edit">Edit</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-left resultlistrow" ng-repeat="result in currentMemberResultList">
                                <div class="row">
                                    <div class="col-sm-5">
                                        {{ result.racename }}
                                        <a ng-show="result.resultlink !== undefined" ng-href="{{result.resultlink}}" target="_blank"><img ng-show="result.resultlink !== ''" ng-src="images/link.png" title="view result" alt="view result">
                                        </a>
                                        <br>
                                        <small>{{ result.racedate | date:'MM/dd/yyyy' }}</small>
                                    </div>
                                    <div ng-class="user.role == 'admin' ?'col-sm-3' :'col-sm-4'">
                                        <span> {{result.time | secondsToTimeString}}</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span>{{result | resultToPace}}</span>
                                    </div>
                                    <div class="col-sm-1" ng-show="user.role == 'admin'">
                                        <span class="pull-right"><i class="hoverhand fa fa-times" ng-show="user.role == 'admin'" ng-click="removeResult(result)"  title="remove result"></i> </span >
                                    </div>
                                </div>
                            </li> 
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
