<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <div class="detailscontainer" ng-if="currentMember">

                <div class="row text-center">
                    <h2 class="bold">{{currentMember.firstname}} {{currentMember.lastname}}</h2>
                    <h4> ({{currentMember.dateofbirth | categoryFilter}} {{currentMember | memberGenderFilter}}<span
                            ng-if="user.role == 'admin' || user.role == 'captain'">, {{currentMember | memberAgeFilter
                            }}</span>) <i class="hoverhand fa fa-pencil-square-o" ng-show="user.role == 'admin'"
                            ng-click="retrieveMemberForEdit(currentMember)" title="edit user"></i><i
                            class="hoverhand fa fa-trash" ng-show="user.role == 'admin'"
                            ng-click="removeMember(currentMember)" title="remove user"></i></h4>
                    <h6 class="italic"> member <span
                            ng-repeat="membershipdate in currentMember.membershipDates | orderBy:'start' track by $index"><span
                                ng-if="membershipdate.end === undefined">since</span><span
                                ng-if="membershipdate.end !== undefined">from</span> {{membershipdate.start |
                            date:'M/d/y':'UTC' }} <span ng-if="membershipdate.end !== undefined">to {{membershipdate.end
                                | date:'M/d/y':'UTC' }}</span><span
                                ng-if="currentMember.membershipDates.length >1 && $index < currentMember.membershipDates.length-2">,
                            </span><span
                                ng-if="currentMember.membershipDates.length >1  && $index < currentMember.membershipDates.length-1 && $index !== currentMember.membershipDates.length-1  && $index === currentMember.membershipDates.length-2">
                                and </span></span></h6>
                </div>

                <!-- View Toggle Buttons -->
                <div class="row text-center member-navigation-buttons" style="margin-bottom: 20px;">
                    <div class="btn-group" role="group">
                        <a ui-sref="/members/member/bio({member: currentMember.username})" class="btn btn-primary">
                            <i class="fa fa-user"></i> Bio & Results
                        </a>
                        <a ui-sref="/members/member/stats({member: currentMember.username})"
                            class="btn btn-primary active">
                            <i class="fa fa-bar-chart"></i> Statistics
                        </a>
                        <a ui-sref="/members/member/head-to-head({member: currentMember.username})"
                            class="btn btn-primary">
                            <i class="fa fa-trophy"></i> Head-to-Head
                        </a>
                        <a ui-sref="/members/member/volunteer-jobs({member: currentMember.username})"
                            class="btn btn-primary"
                            ng-if="user && (user.role === 'admin' || user.role === 'captain' || (user.member._id && user.member._id === currentMember._id))">
                            <i class="fa fa-heart"></i> Volunteer Jobs
                        </a>
                    </div>
                </div>

                <!-- Statistics Content -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="detailscontainer" ng-if="currentMember">
                            <div class="row text-center">
                                <h2 class="bold">Statistics as a team member</h2>
                            </div>

                            <!-- Racing Activity Overview -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><i class="fa fa-calendar"></i> Racing Activity</h4>
                                        </div>
                                        <div class="panel-body stat-carousel">
                                          <div class="stat-carousel-track"
                                              ng-style="{transform: statPageOffset()}">
                                            <div class="stat-carousel-page">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="stat-box text-center hoverhand"
                                                        ng-click="goToResultsWithQuery({members:[{username: currentMember.username}]})">
                                                        <div class="stat-number">{{memberStats.totalRaces}}</div>
                                                        <div class="stat-label">Total Races</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="stat-box text-center hoverhand"
                                                        ng-click="goToResultsWithQuery({members:[{username: currentMember.username}], year: getCurrentYear()})">
                                                        <div class="stat-number">{{memberStats.racesThisYear}}</div>
                                                        <div class="stat-label">Races This Year</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="stat-box text-center">
                                                        <div class="stat-number">{{memberStats.avgRacesPerYear |
                                                            number:1}}</div>
                                                        <div class="stat-label">Avg Races/Year</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row"
                                                ng-init="reqStats = currentMember.teamRequirementStats; reqMeetsRaces = (reqStats.raceCount || 0) >= reqConfig.minRaceCount; reqMeetsAG = reqStats.maxAgeGrade >= reqConfig.minAgeGrade; reqMeetsAll = reqMeetsRaces && reqMeetsAG">
                                                <div class="col-sm-4">
                                                    <div class="stat-box text-center"
                                                        uib-tooltip="{{memberStats.membershipDays | number:0}} days on the team!"
                                                        tooltip-append-to-body="true">
                                                        <div class="stat-number">{{memberStats.yearsRacing}}</div>
                                                        <div class="stat-label">Years Racing on the Team</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4"
                                                    ng-if="(user.role == 'admin' || (user.member._id && user.member._id === currentMember._id)) && currentMember.teamRequirementStats">
                                                    <div class="stat-box text-center"
                                                        ng-class="{'requirement-met': reqMeetsAll}">
                                                        <div class="stat-number">
                                                            {{reqStats.raceCount || 0}} / {{reqConfig.minRaceCount}}
                                                            <i ng-if="reqMeetsRaces" class="fa fa-check text-success"
                                                                style="font-size: 16px;"></i>
                                                        </div>
                                                        <div class="stat-label">{{reqStats.year}} Races Requirement

                                                        </div>
                                                        <div class="stat-sublabel"
                                                            ng-if="reqStats.volunteerJobCount > 0"
                                                            style="font-size: 11px; color: #777;">
                                                            {{reqStats.volunteerJobCount}} volunteer
                                                            {{reqStats.volunteerJobCount === 1 ? 'job' : 'jobs'}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4"
                                                    ng-if="(user.role == 'admin' || (user.member._id && user.member._id === currentMember._id)) && currentMember.teamRequirementStats">
                                                    <div class="stat-box text-center"
                                                        ng-class="{'requirement-met': reqMeetsAll}">
                                                        <div class="stat-number">
                                                            <span
                                                                ng-if="currentMember.teamRequirementStats.maxAgeGrade !== 'N/A'">{{currentMember.teamRequirementStats.maxAgeGrade
                                                                | number:1}}%</span>
                                                            <span
                                                                ng-if="currentMember.teamRequirementStats.maxAgeGrade === 'N/A'">N/A</span>
                                                            <i ng-if="currentMember.teamRequirementStats.maxAgeGrade >= reqConfig.minAgeGrade"
                                                                class="fa fa-check text-success"
                                                                style="font-size: 16px;"></i>
                                                        </div>
                                                        <div class="stat-label">
                                                            {{currentMember.teamRequirementStats.year}} Age Grade
                                                            ({{reqConfig.minAgeGrade}}%+
                                                            needed)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                            <!-- Page 2: distance, time and streaks -->
                                            <div class="stat-carousel-page">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="stat-box text-center"
                                                            uib-tooltip="That's like {{memberStats.footballFields | number:0}} football fields, or {{memberStats.blueWhales | number:0}} adult blue whales!"
                                                            tooltip-append-to-body="true">
                                                            <div class="stat-number">{{memberStats.totalMiles |
                                                                number:2}}</div>
                                                            <div class="stat-label">Total Miles Raced</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="stat-box text-center"
                                                            uib-tooltip="Total time spent racing, added up over every race"
                                                            tooltip-append-to-body="true">
                                                            <div class="stat-number stat-number-long">
                                                                {{formatRacingTime(memberStats.totalRacingTime)}}</div>
                                                            <div class="stat-label">Total Time Racing</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="stat-box text-center"
                                                            uib-tooltip="Total runners who finished behind, added up over every race"
                                                            tooltip-append-to-body="true">
                                                            <div class="stat-number">{{memberStats.runnersBeaten |
                                                                number:0}}</div>
                                                            <div class="stat-label">Runners Beaten</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="stat-box text-center"
                                                            uib-tooltip="{{ageGradeLabel(memberStats.avgAgeGrade)}} average age grade"
                                                            tooltip-append-to-body="true">
                                                            <div class="stat-number">{{memberStats.avgAgeGrade |
                                                                number:1}}%<i class="fa fa-star"
                                                                    ng-class="ageGradeStarClass(memberStats.avgAgeGrade)"
                                                                    ng-if="ageGradeStarClass(memberStats.avgAgeGrade)"
                                                                    style="margin-left: 6px;"></i>
                                                            </div>
                                                            <div class="stat-label">Average Age Grade</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="stat-box text-center hoverhand"
                                                            ng-click="goToResultsWithQuery({members:[{username: currentMember.username}], year: memberStats.busiestYear})">
                                                            <div class="stat-number">{{memberStats.busiestYear}}</div>
                                                            <div class="stat-label">Busiest Year</div>
                                                            <div class="stat-sublabel"
                                                                style="font-size: 11px; color: #777;">
                                                                {{memberStats.busiestYearCount}} races</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="stat-box text-center hoverhand"
                                                            ng-click="goToStreakResults()"
                                                            uib-tooltip="Longest run of consecutive weeks with at least one race ({{memberStats.longestWeekStreakStart | date:'M/d/y':'UTC'}} - {{memberStats.longestWeekStreakEnd | date:'M/d/y':'UTC'}})"
                                                            tooltip-append-to-body="true">
                                                            <div class="stat-number">{{memberStats.longestWeekStreak}}
                                                            </div>
                                                            <div class="stat-label">Longest Streak (weeks)</div>
                                                            <div class="stat-sublabel"
                                                                ng-if="memberStats.longestWeekStreak > 0"
                                                                style="font-size: 11px; color: #777;">
                                                                {{memberStats.longestWeekStreakRaces}} {{memberStats.longestWeekStreakRaces === 1 ? 'race' : 'races'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="stat-carousel-nav">
                                            <i class="fa fa-chevron-left hoverhand" ng-click="prevStatPage()"
                                                uib-tooltip="Previous stats" tooltip-append-to-body="true"></i>
                                            <span class="stat-carousel-dot hoverhand" ng-repeat="page in statPages"
                                                ng-class="{active: statPage === page}"
                                                ng-click="setStatPage(page)"></span>
                                            <i class="fa fa-chevron-right hoverhand" ng-click="nextStatPage()"
                                                uib-tooltip="More stats" tooltip-append-to-body="true"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Personal Bests -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 uib-tooltip="Personal bests as an MCRRC race team member"
                                                tooltip-append-to-body="true"><i class="fa fa-trophy"></i> Personal
                                                Bests <span style="font-size: 75%;">(as MCRRC race team
                                                    member)</span> </h4>
                                        </div>
                                        <div class="panel-body">
                                            <uib-tabset class="activePbTab" active="activePbTab">
                                                <uib-tab ng-repeat="surface in pbSurfaces" index="$index"
                                                    heading="{{surface}}"
                                                    ng-show="(currentMember.personalBests | pbFilter: surface).length > 0">
                                                    <div class="pb-stats">
                                                        <div class="pb-item"
                                                            ng-repeat="pb in currentMember.personalBests | orderBy:'distance' | pbFilter: surface">
                                                            <div class="pb-name">
                                                                <a class="hoverhandandunderline"
                                                                    ng-click="showRaceModal(pb.result.race)"
                                                                    uib-tooltip="{{pb.result.race.racename}} ({{pb.result.race.racedate | date:'M/d/y':'UTC'}})"
                                                                    tooltip-append-to-body="true">{{pb.name}}</a>
                                                            </div>
                                                            <div class="pb-time hoverhand"
                                                                ng-click="showRaceModal(pb.result.race)">
                                                                {{pb.time | secondsToTimeString}}</div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                            </uib-tabset>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><i class="fa fa-trophy"></i> Performance Highlights</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="stat-box text-center hoverhand"
                                                        ng-click="goToResultsWithQuery({members:[{username: currentMember.username, ranking: '1'}]})">
                                                        <div class="stat-number">{{memberStats.wins}}</div>
                                                        <div class="stat-label">Wins</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="stat-box text-center hoverhand"
                                                        ng-click="goToResultsWithQuery({members:[{username: currentMember.username, ranking: '1-3'}]})">
                                                        <div class="stat-number">{{memberStats.top3Finishes}}</div>
                                                        <div class="stat-label">Top 3 Finishes</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="stat-box text-center">
                                                        <div class="stat-number">{{memberStats.ageGroupWins}}</div>
                                                        <div class="stat-label">Age Group Wins</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="stat-box text-center hoverhand"
                                                        ng-click="showRaceModal(memberStats.bestAgeGradeRace)">
                                                        <div class="stat-number">{{memberStats.bestAgeGrade |
                                                            number:2}}%</div>
                                                        <div class="stat-label">Best Age Grade</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Race Type Distribution -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><i class="fa fa-pie-chart"></i> Race Distance Distribution</h4>
                                        </div>
                                        <div class="panel-body">
                                            <d3-pie-chart data="memberStats.raceTypeBreakdown.categories" width="350"
                                                height="250"
                                                on-slice-click="goToResultsWithQuery({members:[{username: currentMember.username}], distance: data.name})">
                                            </d3-pie-chart>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><i class="fa fa-map-marker"></i> Racing Locations</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="location-stats">
                                                <div class="location-item"
                                                    dir-paginate="location in memberStats.locationBreakdown | itemsPerPage: 10 track by $index"
                                                    pagination-id="location-pagination">
                                                    <div class="location-name">
                                                        <a ng-click="goToResultsWithQuery({members:[{username: currentMember.username}], states:[location.state]})"
                                                            class="hoverhandandunderline"
                                                            title="View all results for {{currentMember.firstname}} {{currentMember.lastname}} in {{location.displayName}}">
                                                            <span ng-if="location.stateName">
                                                                <img ng-src="{{location.stateFlag}}" alt="State flag"
                                                                    style="width: 16px; height: auto; margin-right: 4px; vertical-align: middle; border: 1px solid #898f95;">
                                                                {{location.stateName}}
                                                            </span>
                                                            <span ng-if="!location.stateName">{{location.countryFlag}}
                                                                {{location.countryName}}</span>
                                                        </a>
                                                    </div>
                                                    <div class="location-count">{{location.count}} races</div>
                                                </div>
                                            </div>

                                            <!-- Pagination Controls -->
                                            <div class="text-center"
                                                ng-show="memberStats.locationBreakdown.length > 10">
                                                <dir-pagination-controls pagination-id="location-pagination"
                                                    boundary-links="true" direction-links="true" max-size="5">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Top Team Members -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><i class="fa fa-users"></i> Top Team Members Raced With</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="team-members-stats">
                                                <div class="team-member-item"
                                                    dir-paginate="member in memberStats.topTeamMembers | itemsPerPage: 10 track by $index"
                                                    pagination-id="team-member-pagination">
                                                    <div class="team-member-name">
                                                        <a ui-sref="/members/member({ member: member.username })">
                                                            {{member.firstname}} {{member.lastname}}
                                                        </a>
                                                    </div>
                                                    <div class="team-member-actions">
                                                        <span class="team-member-count hoverhand"
                                                            ng-click="goToResultsWithQuery({members:[{username: currentMember.username}, {username: member.username}]})"
                                                            uib-tooltip="All races {{currentMember.firstname}} and {{member.firstname}} both ran"
                                                            tooltip-placement="left"
                                                            tooltip-append-to-body="true">{{member.count}}
                                                            {{member.count === 1 ? 'race' : 'races'}}</span>
                                                        <a class="team-member-h2h"
                                                            ui-sref="/members/member/head-to-head-compare({member: currentMember.username, member2: member.username})"
                                                            uib-tooltip="Head-to-head vs {{member.firstname}} {{member.lastname}}"
                                                            tooltip-placement="left" tooltip-append-to-body="true">
                                                            <i class="fa fa-trophy"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Pagination Controls -->
                                            <div class="text-center" ng-show="memberStats.topTeamMembers.length > 10">
                                                <dir-pagination-controls pagination-id="team-member-pagination"
                                                    boundary-links="true" direction-links="true" max-size="5">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Age Grade Performance Chart -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><i class="fa fa-line-chart"></i>Performances Over Time</h4>
                                        </div>
                                        <div class="panel-body">
                                            <member-best-time-chart member="currentMember"
                                                race-type-breakdown="memberStats.raceTypeBreakdown">
                                            </member-best-time-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Racing Calendar -->
                            <div class="row" ng-if="memberCalendar">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><i class="fa fa-calendar-check-o"></i> Racing Calendar</h4>
                                        </div>
                                        <div class="panel-body cal-panel"
                            ng-class="{'cal-highlight-gaps': memberCalendar.highlightMissing}">

                                            <div class="cal-headline">
                                                <div class="cal-score">
                                                    <span
                                                        class="cal-score-value">{{memberCalendar.daysRaced}}</span><span
                                                        class="cal-score-total">/ {{memberCalendar.totalDays}}</span>
                                                </div>
                                                <div class="cal-score-text">
                                                    <strong>calendar days raced</strong>
                                                    <span>{{currentMember.firstname}} has raced on
                                                        {{memberCalendar.daysRaced}} of the
                                                        {{memberCalendar.totalDays}} days in the year.</span>
                                                </div>
                                            </div>

                                            <div class="cal-todo" ng-if="memberCalendar.showMissingList">
                                                <span class="cal-todo-label"><i class="fa fa-flag-o"></i> Still to
                                                    fill:</span>
                                                <span class="cal-todo-day"
                                                    ng-repeat="day in memberCalendar.missingDays track by day.label">
                                                    {{day.label}}
                                                </span>
                                            </div>

                                            <div class="cal-grid-wrap">
                                                <table class="cal-grid">
                                                    <thead>
                                                        <tr>
                                                            <th class="cal-month-label"></th>
                                                            <th ng-repeat="n in memberCalendar.dayNumbers track by n">
                                                                {{n}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            ng-repeat="month in memberCalendar.months track by month.short">
                                                            <th class="cal-month-label">{{month.short}}</th>
                                                            <td ng-repeat="day in month.days track by $index"
                                                                class="cal-cell"
                                                                ng-class="[day ? (day.count ? 'cal-level-' + day.level : 'cal-blank') : 'cal-pad',
                                                                           day.isBusiest ? 'cal-busiest' : '',
                                                                           day.count ? 'cal-clickable' : '']"
                                                                uib-tooltip="{{day.title}}" tooltip-class="cal-tooltip"
                                                tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="120"
                                                                ng-click="goToMemberCalendarDay(day)"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="cal-legend">
                                                <span class="cal-legend-item"><span
                                                        class="cal-cell cal-blank"></span> never raced</span>
                                                <span class="cal-legend-scale">
                                                    quieter
                                                    <span class="cal-cell cal-level-{{n}}"
                                                        ng-repeat="n in memberCalendar.levels track by n"></span>
                                                    busier
                                                </span>
                                                <span class="cal-legend-item"
                                                    ng-if="memberCalendar.hasBusiest"><span
                                                        class="cal-cell cal-level-8 cal-busiest"></span>
                                                    busiest: {{memberCalendar.busiestLabelText}}
                                                    ({{memberCalendar.busiestCount}}
                                                    {{memberCalendar.busiestCount === 1 ? 'race' : 'races'}}<span
                                                        ng-if="memberCalendar.busiestTies > 1"> each</span>)</span>
                                                <span class="cal-legend-note">click any day to see those races</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>