<div class="jumbotron">

    <br>
    <div class="row">
        <div class="col-sm-3" style="padding-left:0px">
            <span>Search members:</span>
            <br>
            <input ng-model="query" class="form-control" type="text" placeholder="Filter by" autofocus>
        </div>
        <div class="col-sm-3">
            <span>Gender:</span>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getMembers()" btn-radio="'Male'">Male</label>
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getMembers()" btn-radio="'Female'">Female</label>
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getMembers()" btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-3">
            <span>Category:</span>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getMembers()" btn-radio="'Open'">Open</label>
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getMembers()" btn-radio="'Master'">Master</label>
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getMembers()" btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-3">
            <span>Member Status:</span>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.memberStatus" ng-change="getMembers()" btn-radio="'current'">Current</label>
                <label class="btn btn-primary" ng-model="paramModel.memberStatus" ng-change="getMembers()" btn-radio="'past'">Past</label>
                <label class="btn btn-primary" ng-model="paramModel.memberStatus" ng-change="getMembers()" btn-radio="'all'">Both</label>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Member LIST -->
        <h2>Team members ({{membersList.length}}) <img class="hoverhand" ng-show="user.role == 'admin'" ng-click="showAddMemberModal()" ng-src="images/add.png" title="Add member" alt="Add member"></h2>
        <div id="member-list" class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <li ng-click="setMember(member);" ng-style="memberList" class="list-group-item hoverhand" ng-repeat="member in membersList | memberFilter:query | orderBy: 'firstname'" ng-class="{ 'list-group-item-male': member.sex == 'Male', 'list-group-item-female': member.sex == 'Female','selected-class-name': member._id == currentMember._id }">
                        <span>{{ member.firstname }} {{ member.lastname }} </span><span class="pull-right"><img ng-show="user.role == 'admin'" ng-click="removeMember(member)" ng-src="images/delete.png" title="remove user" alt="remove user"> <img ng-show="user.role == 'admin'" ng-click="retrieveMemberForEdit(member)" ng-src="images/edit.png" title="edit user" alt="edit user"></span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="highlightdark">
                    <div ng-show="currentMember">
                        <p>
                            {{currentMember.firstname}} {{currentMember.lastname}} {{currentMember.dateofbirth | ageFilter}} </p>
                        <p>{{currentMember.bio}}</p>

                        Latest Results:
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item text-left resultlistheader" ng-show="currentMemberResultList.length >0">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <span class="listheader" title="Race's name">Racer</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="listheader" title="Event and date">Event</span>
                                    </div>
                                    <div ng-class="user.role == 'admin' ?'col-sm-2' :'col-sm-3'">
                                        <span class="listheader" title="Net Time">Net Time</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="listheader" title="Pace">Pace</span>
                                    </div>
                                    <div class="col-sm-1" ng-show="user.role == 'admin'">
                                        <span class="listheader" title="Edit">Edit</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-left resultlistrow" ng-repeat="result in currentMemberResultList">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <!-- <span memberInfo >{{result.member | membersNamesFilter | cut:false:25:' ...'}}</span> -->
                                        <result-members-names></result-members-names>
                                    </div>
                                    <div class="col-sm-4">
                                        {{ result.racename }}
                                        <a ng-show="result.resultlink !== undefined" ng-href="{{result.resultlink}}" target="_blank"><img ng-show="result.resultlink !== ''" ng-src="images/link.png" title="view result" alt="view result">
                                        </a>
                                        <br>
                                        <small>{{ result.racedate | date:'MM/dd/yyyy' }}</small>
                                    </div>
                                    <div ng-class="user.role == 'admin' ?'col-sm-2' :'col-sm-3'">
                                        {{result.time | secondsToTimeString}}</span>
                                    </div>
                                    <div class="col-sm-2">
                                        {{result | resultToPace}}</span>
                                    </div>
                                    <div class="col-sm-1" ng-show="user.role == 'admin'">
                                        <span class="pull-right"><img ng-show="user.role == 'admin'" ng-click="removeResult(result)" ng-src="images/delete.png" title="remove result" alt="remove result"> <img ng-show="user.role == 'admin'" ng-click="retrieveResultForEdit(result)" ng-src="images/edit.png" title="edit result" alt="edit result"> </span >
                        </div>
                    </div>


                 
                </li>





                            <!-- <li class="list-group-item hoverhand text-left" ng-repeat="result in currentMemberResultList">




                                <span>{{ result.racename }} {{ result.racedate | date:'MM/dd/yyyy' }} by {{result.member[0].firstname}} {{result.member[0].lastname}} in {{result.time | secondsToTimeString}} </span><span class="pull-right"><img ng-show="user.role == 'admin'" ng-click="retrieveResultForEdit(result)" ng-src="images/edit.png" title="edit result" alt="edit result"> </span >
                            </li> -->
                        </ul>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

</div>
