<div class="container">

    <div class="page-header text-center">
        <h1>My Account</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- PROFILE INFORMATION -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="margin: 0;"><span class="fa fa-user"></span> Profile</h3>
                </div>
                <div class="panel-body">

                    <!-- Display mode -->
                    <div ng-hide="editingProfile">
                        <p>
                            <strong>Name</strong>: {{user.username}}<br>
                            <strong>Email</strong>: {{user.email}}<br>
                            <span ng-show="user.role"><strong>Role</strong>: {{user.role}}</span>
                        </p>
                        <button class="btn btn-primary btn-sm" ng-click="startEditProfile()">
                            <i class="fa fa-pencil"></i> Edit Profile
                        </button>
                    </div>

                    <!-- Edit mode -->
                    <div ng-show="editingProfile">
                        <div ng-show="profileMessage" class="alert"
                            ng-class="{'alert-success': profileSuccess, 'alert-danger': !profileSuccess}">
                            {{profileMessage}}
                        </div>
                        <form name="formEditProfile" ng-submit="saveProfile()">
                            <div class="form-group"
                                ng-class="{'has-error': formEditProfile.username.$invalid && !formEditProfile.username.$pristine}">
                                <label>Name</label>
                                <input type="text" class="form-control" name="username"
                                    ng-model="editData.username" required>
                            </div>
                            <div class="form-group"
                                ng-class="{'has-error': formEditProfile.email.$invalid && !formEditProfile.email.$pristine}">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email"
                                    ng-model="editData.email" required>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm"
                                ng-disabled="formEditProfile.$invalid">
                                <i class="fa fa-check"></i> Save
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="cancelEditProfile()">
                                Cancel
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- CHANGE PASSWORD -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="margin: 0;"><span class="fa fa-lock"></span> Change Password</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="passwordMessage" class="alert"
                        ng-class="{'alert-success': passwordSuccess, 'alert-danger': !passwordSuccess}">
                        {{passwordMessage}}
                    </div>
                    <form name="formChangePassword" ng-submit="changePassword()">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" class="form-control" name="currentPassword"
                                ng-model="passwordData.currentPassword" required>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formChangePassword.newPassword.$dirty && formChangePassword.newPassword.$invalid}">
                            <label>New Password</label>
                            <input type="password" class="form-control" name="newPassword"
                                ng-model="passwordData.newPassword" required
                                ng-minlength="8" maxlength="64">
                            <p class="help-block" ng-show="formChangePassword.newPassword.$dirty && formChangePassword.newPassword.$error.minlength">
                                Password must be at least 8 characters.
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control" name="confirmPassword"
                                ng-model="passwordData.confirmPassword" required>
                        </div>
                        <div ng-show="passwordData.newPassword && passwordData.confirmPassword && passwordData.newPassword !== passwordData.confirmPassword"
                            class="alert alert-danger">
                            Passwords do not match.
                        </div>
                        <button type="submit" class="btn btn-warning btn-sm"
                            ng-disabled="formChangePassword.$invalid || passwordData.newPassword !== passwordData.confirmPassword">
                            <i class="fa fa-key"></i> Change Password
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
