<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h2>Race types <i  class="hoverhand fa fa-plus-square"  style="color:#03C03C;"ng-show="user.role == 'admin'" ng-click="showAddRaceTypeModal()" title="Add race type"></i></h2>
            <ul class="list-group">
                <li class="list-group-item hoverhand" ng-class="{ 'tracksurface-bg': racetype.surface == 'track', 'xcsurface-bg': racetype.surface == 'cross country', 'roadsurface-bg': racetype.surface == 'road', 'ultrasurface-bg': racetype.surface == 'ultra', 'othersurface-bg': racetype.surface == 'other','multiplesurface-bg': racetype.surface == 'multiple'}" ng-repeat="racetype in racetypesList">
                    {{racetype.name}} ({{racetype.surface}})<span class="pull-right"><i class="hoverhand fa fa-pencil-square-o" ng-show="user.role == 'admin'" ng-click="retrieveRaceTypeForEdit(racetype)" title="edit race type"></i><i class="hoverhand fa fa-times" ng-show="user.role == 'admin'" ng-click="removeRaceType(racetype)" title="remove race type"></i> </span>
                </li>
            </ul>
        </div>
        <div class="col-md-6">

        </div>
    </div>


</div>
