<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <span>Race type:</span>
            <br>
            <ui-select ng-model="paramModel.racetype" ng-change="getResults()" theme="select2" style="min-width: 200px;">
                <ui-select-match placeholder="Select a race type">{{$select.selected.name}} ({{$select.selected.surface}})</ui-select-match>
                <ui-select-choices repeat="racetype in racetypesList | propsFilter: {name: $select.search, surface: $select.search}">
                    <div ng-bind-html="(racetype.name +' <span class=\''+getRaceTypeClass(racetype.surface)+'\'>(' + racetype.surface +')</span>') | highlightignorespan: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-sm-6 col-md-3">
            <span>Gender:</span>
            <br>
            <div class="btn-group">
                <label class="btn-record btn btn-primary" ng-model="paramModel.sex" ng-change="getResults()" uib-btn-radio="'Male'">Male</label>
                <label class="btn-record btn btn-primary" ng-model="paramModel.sex" ng-change="getResults()" uib-btn-radio="'Female'">Female</label>
                <label class="btn-record btn btn-primary" ng-model="paramModel.sex" ng-change="getResults()" uib-btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <span>Division:</span>
            <br>
            <div class="btn-group">
                <label class="btn-record btn btn-primary" ng-model="paramModel.category" ng-change="getResults()" uib-btn-radio="'Open'">Open</label>
                <label class="btn-record btn btn-primary" ng-model="paramModel.category" ng-change="getResults()" uib-btn-radio="'Master'">Master</label>
                <label class="btn-record btn btn-primary" ng-model="paramModel.category" ng-change="getResults()" uib-btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <span title="Allow a member to appear multiple times in the records">Duplicates?</span>
            <br>
            <div class="btn-group">
                <label class="btn-record btn btn-primary" ng-model="paramModel.mode" ng-change="getResults()" uib-btn-radio="'All'">Yes</label>
                <label class="btn-record btn btn-primary" ng-model="paramModel.mode" ng-change="getResults()" uib-btn-radio="'Best'">No</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-1">
            <span>Size:</span>
            <br>
            <ui-select ng-model="paramModel.limit" ng-change="getResults()" theme="select2" style="min-width: 60px;">
                <ui-select-match placeholder="Select a result size type">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="size in resultSize">
                    <div ng-bind="size"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-12">
            <ul class="results-list list-group">
                <li class="list-group-item text-left resultlistheader" ng-show="resultsList.length >0">
                    <div class="row">
                        <div class="col-sm-1" >
                            <span class="listheader hoverhand" title="Rank">#</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="listheader hoverhand" title="Race's name">RACER</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="listheader hoverhand" title="Event and date">EVENT</span>
                        </div>
                        <div class="col-sm-1" style="text-align: center;">
                            <span class="listheader hoverhand" title="Pace">PACE</span>
                        </div>
                        <div ng-class="user.role == 'admin' ?'col-sm-2' :'col-sm-3'" style="text-align: left;">
                            <span class="listheader hoverhand" title="Net Time">NET TIME</span>
                        </div>
                        <div class="col-sm-1" ng-show="user.role == 'admin'">
                            <span class="listheader hoverhand" title="Edit">EDIT</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item text-left resultlistrow" ng-repeat="result in resultsList"   ng-class="{ 'gold': $index === 0,  'silver': $index === 1 , 'bronze': $index === 2,'goldhover': $index == 0 && hover,  'silverhover': $index == 1 && hover, 'bronzehover': $index === 2 && hover, hoverlistbg: hover}"   ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <div class="row" style="display: flex; align-items: center;">
                        <div class="col-sm-1">
                            {{$index + 1}}
                        </div>
                        <div class="col-sm-3" style="font-size: 16px;">
                            <result-members-names></result-members-names>
                        </div>
                        <div class="col-sm-4">
                            <span class="hoverhandandunderline resultEvent" title="view race results" ng-click="showRaceModal(result)">{{ result.race.racename}}</span><span ng-show="result.comments !== undefined && result.comments !== ''"></span><i class="fa fa-comment-o hoverhand" tooltip-trigger="mouseenter"  ng-show="result.comments !== undefined && result.comments !== ''" uib-tooltip-html="'<span>{{result.comments}}</span>'"></i>
                            </a>
                            <br>
                            <small>{{ result.race.racedate | date:'longDate':'UTC' }} <span ng-if="result.race.location.state !== null" ng-bind-html="'-- ' + result.race.location.state"></span><span ng-if="result.race.location.state === null" ng-bind-html="'-- ' + result.race.location.country"></span></small>
                        </div>
                        <div class="col-sm-1" style=" text-align: center;">
                            <result-pace></result-pace>
                        </div>
                        <div ng-class="user.role == 'admin' ?'col-sm-2' :'col-sm-3'" style=" text-align: left;">
                            <span class= "resultTime">{{result.time | secondsToTimeString}}</span> <span class="timediff" ng-if="$index >0">+{{(result.time -resultsList[$index - 1].time ) | secondsToTimeDiff}}</span> <a ng-show="result.resultlink !== undefined" ng-href="{{result.resultlink}}" target="_blank"><i class="fa fa-link" ng-show="result.resultlink !== ''" title="view result"></i></a> <i class="fa fa-list-ol red hoverhand" tooltip-trigger="mouseenter" ng-show="(result.ranking.agerank !== undefined && result.ranking.agerank !== '') || (result.ranking.genderrank !== undefined && result.ranking.genderrank !== '') || (result.ranking.overallrank !== undefined && result.ranking.overallrank !== '')" uib-tooltip-html="'<span>{{result.ranking | rankTooltip}}</span>'"></i>
                        </div>
                        <div class="col-sm-1" ng-show="user.role == 'admin'">
                            <i class="hoverhand fa fa-pencil-square-o" ng-click="retrieveResultForEdit(result)" title="edit result"></i><i class="hoverhand fa fa-times" ng-show="user.role == 'admin'" ng-click="removeResult(result)" title="remove result"></i>
                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>
