<div class="jumbotron">


    <br>
    <div class="row">
        <div class="col-sm-4 text-left">
            Race type
        </div>
        <div class="col-sm-3 text-left">
            Gender
        </div>
        <div class="col-sm-3 text-left">
            Division
        </div>
        <div class="col-sm-2 text-left">
            Allow duplicates?
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ui-select ng-model="paramModel.racetype" ng-change="getResults()" theme="select2" style="min-width: 300px;">
                <ui-select-match placeholder="Select a race type">{{$select.selected.name}} ({{$select.selected.surface}})</ui-select-match>
                <ui-select-choices repeat="racetype in racetypesList | propsFilter: {name: $select.search, surface: $select.search}">
                    <div ng-bind-html="(racetype.name +' (' + racetype.surface +')') | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-sm-3">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getResults()" btn-radio="'Male'">Male</label>
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getResults()" btn-radio="'Female'">Female</label>
                <label class="btn btn-primary" ng-model="paramModel.sex" ng-change="getResults()" btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getResults()" btn-radio="'Open'">Open</label>
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getResults()" btn-radio="'Master'">Master</label>
                <label class="btn btn-primary" ng-model="paramModel.category" ng-change="getResults()" btn-radio="'.*'">Both</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="paramModel.mode" ng-change="getResults()" btn-radio="'All'">Yes</label>
                <label class="btn btn-primary" ng-model="paramModel.mode" ng-change="getResults()" btn-radio="'Best'">No</label>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item hoverhand text-left" ng-class="{ 'gold': $index == 0,  'silver': $index == 1 , 'bronze': $index == 2}" ng-repeat="result in resultsList">
                    <span>{{$index + 1}} - <b>{{result.member[0].firstname}} {{result.member[0].lastname}}</b> at {{ result.racename }} on {{ result.racedate | date:'MM/dd/yyyy' }} in {{result.time | secondsToTimeString}} </span><img ng-show="user.role == 'admin'" ng-click="removeResult(result)" ng-src="images/delete.png" title="remove result" alt="remove result"> <img ng-show="user.role == 'admin'" ng-click="retrieveResultForEdit(result)" ng-src="images/edit.png" title="edit result" alt="edit result">
                </li>
            </ul>

        </div>
    </div>
</div>
