<div class="text-center">
    <div class="col-sm-6 col-sm-offset-3">

        <h1>Reset Password</h1>

        <div ng-show="message" class="alert" ng-class="{'alert-success': success, 'alert-danger': !success}">
            {{message}}
        </div>

        <div ng-show="tokenExpired" class="alert alert-danger">
            This password reset link is invalid or has expired.
            <a ui-sref="/forgot-password">Request a new one</a>.
        </div>

        <form name="form" ng-submit="resetPassword()" ng-hide="success || tokenExpired">
            <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
                <label>New Password</label>
                <input type="password" class="form-control" name="password" ng-model="newPassword" required
                    ng-minlength="8" maxlength="64">
                <p class="help-block" ng-show="form.password.$dirty && form.password.$error.minlength">
                    Password must be at least 8 characters.
                </p>
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword" required>
            </div>
            <div ng-show="newPassword && confirmPassword && newPassword !== confirmPassword" class="alert alert-danger">
                Passwords do not match.
            </div>
            <button ng-disabled="!form.$valid || newPassword !== confirmPassword" type="submit" class="btn btn-warning btn-lg">
                Reset Password
            </button>
        </form>

        <div ng-show="success">
            <p><a ui-sref="/login">Click here to login</a></p>
        </div>

        <hr>
    </div>
</div>
