<div class="jumbotron" >
    <uib-tabset>
        <uib-tab index="0" heading="Best Turnouts" >
            <div class="row text-left">
                <div class="col-md-9" >

                </div>
                <div class="col-md-3" >
                    <div style="float:right;"><ui-select ng-model="raceStats.year" ng-change="getRacesStats()" theme="select2" style="min-width: 60px;">{{yearsList}}
                        <ui-select-match placeholder="Select a year">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="year in yearsList">
                            <div ng-bind="year"></div>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="results-list list-group">
                        <li class="list-group-item text-left resultlistheader" ng-show="racesList.length >0">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="listheader hoverhand" title="Event and date">EVENT NAME</span>
                                </div>
                                <div class="col-sm-3" style="text-align: center;">
                                    <span class="listheader hoverhand" title="Event type">EVENT TYPE</span>
                                </div>
                                <div class="col-sm-3" style="text-align: center;">
                                    <span class="listheader hoverhand" title="Number of team members racing"># TEAM MEMBER RACING</span>
                                </div>
                                <div class="col-sm-3">
                                    <span class="listheader hoverhand" title="Best time">BEST TIME</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item text-left resultlistrow" ng-repeat="raceinfo in racesList" ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="hoverhandandunderline resultEvent" ng-click="showRaceModal(raceinfo)">{{raceinfo.race.racename }}</span>
                                    <br>
                                    <small>{{raceinfo.race.racedate | date:'yyyy-MM-dd':'UTC' }}  <span ng-if="raceinfo.race.location.state !== null" ng-bind-html="'-- ' + raceinfo.race.location.state"></span><span ng-if="raceinfo.race.location.state === null" ng-bind-html="'-- ' + raceinfo.race.location.country"></span></small>
                                </div>
                                <div class="col-sm-3" style="text-align: center;">
                                  <div ng-if="raceinfo.race.racetype.isVariable">
                                      {{raceinfo.race.distanceName}} <span class="getRaceTypeClass(race.racetype.surface)">({{raceinfo.race.racetype.surface}})</span>
                                  </div>
                                  <div ng-if="!raceinfo.race.racetype.isVariable">
                                      {{raceinfo.race.racetype.name}}
                                  </div>
                                </div>
                                <div class="col-sm-3" style="text-align: center;">
                                    {{ raceinfo.count }}
                                </div>
                                <div class="col-sm-3">
                                    <span class= "resultTime">{{raceinfo.results[0].time | secondsToTimeString}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="US Races Map" title="States where team members have raced" select="displayTrig = true" deselect="displayTrig = false">
          <div class="row text-left" >
            <div usa-map ng-if="displayTrig" style="min-height:700px;">
            </div>
          </div>
        </uib-tab>
        <uib-tab index="2" heading="World Races Map" title="Countries where team members have raced" select="displayTrigW = true" deselect="displayTrigW = false">
          <div class="row text-left" >
            <div world-map ng-if="displayTrigW" style="min-height:700px;" >

            </div>
          </div>
          </uib-tab>
        <uib-tab index="3" heading="Misc." select="">
            <div class="row text-left">
                <div class="col-md-9" >

                </div>
                <div class="col-md-3" >
                    <div style="float:right;"><ui-select ng-model="miscStats.year" ng-change="getMiscStats()" theme="select2" style="min-width: 60px;">{{yearsList}}
                        <ui-select-match placeholder="Select a year">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="year in yearsList">
                            <div ng-bind="year"></div>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>
            </div>
        Number of results: {{miscStats.resultsCount}}<br>

        Miles raced: {{miscStats.milesRaced | number}}<br>
        </uib-tab>

        <uib-tab ng-if="user.role === 'admin'" index="4" heading="Participation Stats" select="">
            <div class="row text-left">
                <div class="col-md-3">
                    <label class="text-left">From:</label>
                    <div class="input-group">
                        {{participationStatsStart.getTime()}}
                        <input type="text" datetimepicker-neutral-timezone class="form-control"
                            uib-datepicker-popup="yyyy-MM-dd" ng-model="partdates.participationStatsStart"
                            ng-change="selectDate()" ng-model-options="{timezone: 'utc'}" is-open="participationStatsStartPicker.opened"
                            min-date="'2013-01-01'" max-date="'3015-01-01'" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                ng-click="openParticipationStatsStartPicker($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <label class="text-left">To:</label>
                    <div class="input-group">
                        {{participationStatsEnd.getTime()}}
                        <input type="text" datetimepicker-neutral-timezone class="form-control"
                            uib-datepicker-popup="yyyy-MM-dd" ng-model="partdates.participationStatsEnd"
                            ng-change="selectDate()" ng-model-options="{timezone: 'utc'}" is-open="participationStatsEndPicker.opened"
                            min-date="'2013-01-01'" max-date="'3015-01-01'" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openParticipationStatsEndPicker($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>                 
                    <!-- <ui-select ng-model="participationStats.year" ng-change="getParticipationStats()" theme="select2" style="min-width: 60px;">{{yearsList}}
                                <ui-select-match placeholder="Select a year">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="year in yearsList">
                                    <div ng-bind="year"></div>
                                </ui-select-choices>
                            </ui-select> -->
                </div>
                <div class="col-md-6">
                    <!-- <label class="text-left">Fetch</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-default"
                        ng-click="getParticipationStats($event)">Get stats</button>
                    </div> -->
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-12">
                    <table style="width:100%">
                        <tr>
                            <th style="width:100px;"><a href="" ng-click="fieldParticipation='firstname'; reverseSortParticipation = !reverseSortParticipation">Member <span ng-show="fieldParticipation == 'firstname'"><span ng-show="!reverseSortParticipation">^</span><span ng-show="reverseSortParticipation">v</span></a></th>
                            <th style="width:100px;"><a href="" ng-click="fieldParticipation='numberofraces'; reverseSortParticipation = !reverseSortParticipation">Number of races ran <span ng-show="fieldParticipation == 'numberofraces'"><span ng-show="!reverseSortParticipation">^</span><span ng-show="reverseSortParticipation">v</span></a></th>
                            <th style="width:100px;"><a href="" ng-click="fieldParticipation='maxage'; reverseSortParticipation = !reverseSortParticipation">Max AG % <span ng-show="fieldParticipation == 'maxage'"><span ng-show="!reverseSortParticipation">^</span><span ng-show="reverseSortParticipation">v</span></a></th>
                        </tr>
                        <tr ng-class="r.memberStatus === 'past' ?'red':'' " ng-repeat="r in participationStats |sortMembers:fieldParticipation:reverseSortParticipation track by $index">
                            <td><a ui-sref="/members({ member: r.firstname+r.lastname }) ">{{r.firstname}} {{r.lastname}}</a></td>
                            <td><span>{{r.numberofraces}}</span></td>
                            <td><span>{{r.max}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        
        
        </uib-tab>

        <!-- <uib-tab ng-show="user.role == 'admin'" index="5" heading="Participation Stats" select="">
            <div class="row text-left">
                <div class="col-md-12" >
                    <div style="float:left;">

                        <div class="form-group">
                        <ui-select ng-model="racetoadd" theme="select2" on-select="onSelectRace($item, $model)" style="min-width: 300px;" title="Choose a race">
                            <ui-select-match placeholder="Select a race">{{$select.selected.racename}}</ui-select-match>
                            <ui-select-choices repeat="race in attendanceRacesList | propsFilter: {racename: $select.search, racedate: $select.search}">
                                <div ng-bind-html="race.racename | highlight: $select.search"></div>
                                <small>{{race.racedate | date:'yyyy-MM-dd':'UTC'}}</small>
                                <br>
                                <small>{{race.racetype.name}} <span ng-if="race.location.state !== null" ng-bind-html="'-- ' + race.location.state"></span><span ng-if="race.location.state === null" ng-bind-html="'-- ' + race.location.country"></span></small>
                            </ui-select-choices>
                    </ui-select>

                    <ui-select ng-model="attendanceStats.year" ng-change="getAttendanceStatsByYear()" theme="select2" style="min-width: 60px;">{{yearsList}}
                        <ui-select-match placeholder="Select a year">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="year in yearsList">
                            <div ng-bind="year"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                    </div>
                </div>
            </div>
            <table style="width:100%">
            <tr>
                <th style="width:100px;">Race</th>
                <th style="text-align:center;" class="hoverhand" ng-repeat="m in membersList | filter:{memberStatus:'current'}  track by $index"><span ng-attr-title="{{m.firstname +' '+ m.lastname}}">{{m.firstname.charAt(0)}}{{m.lastname.charAt(0)}}</span></th>
                <th></th>
              </tr>
              <tr ng-repeat="r in attendanceStats.selectedAttendanceRaces">
              <td><span class="hoverhand" ng-attr-title="{{r[2]}} runners">{{r[0]}}</span></td>
              <td style="text-align:center;" ng-repeat="res in r[1] track by $index"><span class="hoverhand bold green" ng-show="res.time" ng-attr-title="{{res.time| secondsToTimeString}}">{{res.text}}</span><span ng-hide="res.time">{{res.text}}</span></td>
              <td><i class="fa fa-minus-circle hoverhand"   ng-click="removeRace($index)"></i></td>

              </tr>
            <tr>
                <td>#Races ran
                </td>
                <td style="text-align:center;" class="bold" ng-repeat="m in membersList | filter:{memberStatus:'current'} track by $index">
                  {{attendanceStats.racedRaces[$index]}}
                </td>
                <td>
                </td>
            </tr>
            </table>


        </uib-tab> -->
        <uib-tab ng-if="user.role == 'admin'" index="6" heading="Team Members Stats" select="">
            <div class="row text-left">
              <div class="col-md-12" >
                  <div>
                    <span class="bold"> Next 5 birthdays:</span></br>
                    <span ng-repeat="m in membersList |filter:{memberStatus:'current'} | orderBy:'fromNow' |  limitTo:5 ">
                      <a  ui-sref="/members({ member: m.firstname+m.lastname }) ">{{m.firstname}} {{m.lastname}}</a> will be {{(m | memberAgeFilter)+1}} on {{m.dateofbirth |  date:'MM/dd': 'UTC' }}</br></span></br>
                  </div>
              </div>
                <div class="col-md-12" >
                    <div>
                      <table style="width:100%">
                        <tr>
                            <th style="min-width:25px"></th>
                            <th style="width:25%;"><a href="" ng-click="field='firstname'; reverseSort = !reverseSort">Member <span ng-show="field == 'firstname'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></a></th>
                            <th style="width:25%;"><a href="" ng-click="field='age'; reverseSort = !reverseSort">Age <span ng-show="field == 'age'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></a></th>
                            <th style="width:25%;"><a href="" ng-click="field='dateofbirth'; reverseSort = !reverseSort">DoB <span ng-show="field == 'dateofbirth'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></a></th>
                            <th style="width:25%;"><a href="" ng-click="field='status'; reverseSort = !reverseSort">Status <span ng-show="field == 'status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></a>
                              <label><input type="radio" ng-model="statusChoice" ng-value="none" name="rdoResult">All</label>
                              <label><input type="radio" ng-model="statusChoice" ng-value="current" name="rdoResult">Current</label>
                              <label><input type="radio" ng-model="statusChoice" ng-value="past" name="rdoResult">Past</label></th>

                          </tr>
                          <tr ng-repeat="m in membersList |filter:statusChoice |sortMembers:field:reverseSort track by $index">
                          <td>{{$index+1  }}</td>
                          <td><a ui-sref="/members({ member: m.firstname+m.lastname }) ">{{m.firstname}} {{m.lastname}}</a></td>
                          <td>{{m | memberAgeFilter}}</td>
                          <td>{{m.dateofbirth |  date:'yyyy-MM-dd': 'UTC' }}</td>
                          <td>{{m.memberStatus}}</td>

                          </tr>
                      </table>

                    </div>
                </div>
            </div>



        </uib-tab>
    </uib-tabset>
</div>
