<div class="jumbotron">
    <form name="myForm" ng-submit="submitForm()">
        <div class="row btn-row">
            <div class="col-md-12 col-sm-12 btn-col-member">
                <span>Select age and gender:</span>
            </div>
        </div>
        <div class="row btn-row" style="display: flex;">

            <div class="col-md-12 col-sm-12 " style="display: inline-flex;">
                <div style="margin-right: 10px;">
                    <span>Age:</span>
                    <br>
                    <input class="agegradeAgeInput form-control" type="number" id="age" name="age"
                        ng-model="formData.age" min="5" max="110" required>
                    
                </div>

                <div style="margin-right: 10px; min-width: 140px;">
                    <span>Gender:</span>
                    <br>
                    <div class="btn-group">
                        <label class="btn-ag-gender btn btn-primary" ng-model="formData.sex" ng-click="submitForm()"
                            uib-btn-radio="'Male'">Men</label>
                        <label class="btn-ag-gender btn btn-primary" ng-model="formData.sex" ng-click="submitForm()"
                            uib-btn-radio="'Female'">Women</label>
                    </div>
                </div>
                <div  ng-show="hasOtherType()" style="margin-left: auto">
                    <br>
                    <button  type="button" class="btn btn-primary" ng-click="switchType()">Switch to {{currentType === 'Road' ? 'track' :
                        'road'}} distances</button>
                </div>
            </div>
            
        </div>
        <div class="row btn-row">
            <div class="col-md-12 col-sm-2 " style="display: inline-flex;">
            <small>
                <span ng-show="myForm.age.$error.min">Age must be at least 5</span>
                <span ng-show="myForm.age.$error.max">Age must be no more than 110</span>
            </small>
            </div>
        </div>
    </form>
    <div ng-if="roadTableData || trackTableData">
        <table class="agegradeTable">
            <thead>
                <th colspan="9" class="agegradeHeader top">Displaying time standards for a {{currentAge}} year old {{formData.sex === "Male" ? 'man' : 'woman'}} in {{currentType === 'Road' ? 'road' : 'track'}} distances  </th>
            </thead>
            <thead>
                <th class="agegradeHeader bottom">Distances ({{currentType === 'Road' ? 'road' : 'track'}})</th>
                <th colspan="2" class="agegradeHeader bottom">70% Time and Pace <i class="ageregional fa fa-star"></i></th>
                <th colspan="2" class="agegradeHeader bottom">80% Time and Pace <i class="agenational fa fa-star"></i></th>
                <th colspan="2" class="agegradeHeader bottom">90% Time and Pace <i class="ageworld fa fa-star"></i></th>              
                <th colspan="2" class="agegradeHeader bottom">Calculate your age-grade %</th>    
            </thead>
            <tbody>
                <tr class="agegradeRow" ng-repeat="(key, value) in getDistances()">
                    <td class="agegradeCell distanceName nowrap">{{(key | racenameToDistance).name}}</td>
                    <td class="agegradeCell time">{{value*100/.70 | secondsToTimeString}} </td>
                    <td class="agegradeCell pace"> {{(key | racenameToDistance).miles |
                        milesToPaceforAgegrade:value*100/.70}} <small class="resultPaceTxt">min/mi</small></td>
                    <td class="agegradeCell time">{{value*100/.80 | secondsToTimeString}}</td>
                    <td class="agegradeCell pace"> {{(key | racenameToDistance).miles |
                        milesToPaceforAgegrade:value*100/.80}} <small class="resultPaceTxt">min/mi</small></td>
                    <td class="agegradeCell time">{{value*100/.90 | secondsToTimeString}}</td>
                    <td class="agegradeCell pace"> {{(key | racenameToDistance).miles |
                        milesToPaceforAgegrade:value*100/.90}} <small class="resultPaceTxt">min/mi</small></td>            
                    <td  class=" agegradeCell customtime nowrap">
                        <input type="text" style="width: 29px;" ng-model="time.hours" only-digits class=" text-left" placeholder="0">:<input
                            type="text" style="width: 29px;" ng-model="time.minutes" only-digits-for-min-sec class=" text-left"
                            placeholder="0">:<input type="text" style="width: 29px;" ng-model="time.seconds" only-digits-for-min-sec
                            class="text-left" placeholder="0">
                        </td>
                        <td class="agegradeCell custompace ">
                            <div ng-if="time && (time.seconds != undefined || time.minutes != undefined || time.hours != undefined)" class="resultPaceTxt">
                        {{time| timeToAgeGrade:value:true}}
                        <i ng-if="getAgeGrade(time, value,false) >=70 && getAgeGrade(time, value,false)<80" class="ageregional fa fa-star"></i>
                        <i ng-if="getAgeGrade(time, value,false) >=80 && getAgeGrade(time, value,false)<90" class="agenational fa fa-star"></i>
                        <i ng-if="getAgeGrade(time, value,false) >=90" class="ageworld fa fa-star"></i>
                        <span > <div>{{(key | racenameToDistance).miles| milesAndTimeToPace:time}} <small class="resultPaceTxt">min/mi</small></div></span>
                    </div>
                    </td>
                             
                    </tr>
        </table>
    </div>
</div>