<!doctype html>
<html ng-app="mcrrcApp">
<head>
    <title>MCRRC Race Team Records</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
	<link rel="stylesheet" href="dist/css/style.min.css">
	<link rel="stylesheet" href="libs/angular-ui-select/dist/select.min.css">
	<link rel="stylesheet" href="libs/angular-ui-grid/ui-grid.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="libs/angular/angular.js"></script>
	<script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libs/angular-ui-select/dist/select.js"></script>
    <script src="libs/angular-ui-grid/ui-grid.min.js"></script>
    <script src="libs/lodash/dist/lodash.min.js"></script>
    <script src="libs/restangular/dist/restangular.min.js"></script>
	<script src="dist/js/app.min.js"></script>
</head>
<body ng-controller="MainController">
<div class="container" style="height:800px">
	
	<!-- HEADER -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="/">Home</a>
		</div>
		<% if (user) { %>
			<ul class="nav navbar-nav">
				<li><a ui-sref="/records">Team Records</a></li>
				<li><a ui-sref="/members">Team Members</a></li>
				<li><a ui-sref="/admin">Administration</a></li>
			</ul>
			<ul class="nav navbar-nav" style="float: right">
				<li class="dropdown" dropdown on-toggle="toggled(open)">
			  	    <a href class="dropdown-toggle" dropdown-toggle>
			        <%= user.email %> <span class="caret"></span>
			      </a>
			      <ul class="dropdown-menu">
			        <li><a ui-sref="/profile">Profile</a></li>
			        <li><a href="/logout">Logout</a></li>
			      </ul>
			    </li>
			</ul>
		<%}else{ %>
			<ul class="nav navbar-nav" >
				<li><a ui-sref="/records">Team Records</a></li>		
				<li><a ui-sref="/members">Team Members</a></li>		
			</ul>
			<ul class="nav navbar-nav" style="float: right" >
				<li><a ui-sref="/login">Login</a></li>
			</ul>
		<%}%>

		
	</nav>

	<!-- ANGULAR DYNAMIC CONTENT -->
	<div ui-view></div>

</div>
</body>

</html>
