<!doctype html>
<html ng-app="mcrrcApp">
<head>
    <title>MCRRC Race Team Records</title>
	<link rel="stylesheet" href="dist/css/style.min.css">
	<link rel="stylesheet" href="libs/angular-dialog-service/dist/dialogs.min.css">
	<script src="dist/js/app.min.js"></script> 


</head>
<body ng-controller="MainController">
<div class="container" style="height:800px">
	
	<!-- HEADER -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="/">Home</a>
		</div>
		<% if (user) { %>
			<ul class="nav navbar-nav">
				<li><a ui-sref="/records">Team Records <i class="fa fa-trophy"></i></a></li>
				<li><a ui-sref="/results">Team Results <i class="fa fa-list"></i></a></li>
				<li><a ui-sref="/members">Team Members <i class="fa fa-users"></i></a></li>
				<li><a ui-sref="/admin">Administration</a></li>
			</ul>
			<ul class="nav navbar-nav" style="float: right">
				<li class="dropdown" dropdown on-toggle="toggled(open)">
			  	    <a href class="dropdown-toggle" dropdown-toggle>
			        <%= user.email %> <span class="caret"></span>
			      </a>
			      <ul class="dropdown-menu">
			        <li><a ui-sref="/profile">Profile</a></li>
			        <li><a href="/logout">Logout</a></li>
			      </ul>
			    </li>
			</ul>
		<%}else{ %>
			<ul class="nav navbar-nav" >
				<li><a ui-sref="/records">Team Records <i class="fa fa-trophy"></i></a></li>
				<li><a ui-sref="/results">Team Results <i class="fa fa-list"></i></a></li>
				<li><a ui-sref="/members">Team Members <i class="fa fa-users"></i></a></li>
			</ul>
			<ul class="nav navbar-nav" style="float: right" >
				<li><a ui-sref="/login">Login</a></li>
			</ul>
		<%}%>

		
	</nav>

	<div ui-view></div>

</div>
</body>

</html>
