<!doctype html>
<html ng-app="mcrrcApp">
<head>
    <title>MCRRC Racing Team</title>
	<link rel="stylesheet" href="dist/css/style.min.css">
	<link rel="stylesheet" href="libs/angular-dialog-service/dist/dialogs.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
	<script src="dist/js/app.min.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-59048159-1', 'auto');
	</script>
	<meta property="og:title" content="MCRRC Racing Team" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://raceteam.mcrrc.org" />
	<meta property="og:image" content="http://raceteam.mcrrc.org/images/ogimage.jpg" />
  <meta property="og:description" content="MCRRC Racing Team Site: Members bios, race results and records." />
	<link rel="image_src" href="http://mcrrc-ncrouzier.rhcloud.com/images/topcover2.jpg" / ><!--formatted-->
	<link rel="image_src" href="https://www.mcrrc.org/wp-content/uploads/2015/08/MontgomeryCountyWebReady-post3.png" / ><!--formatted-->
	<meta name="description" content="MCRRC Racing Team Site: Members bios and race results. http://raceteam.mcrrc.org" /><!--formatted-->
</head>
<body ng-controller="MainController">
	<div class="container">
		<div ng-class="getbg" class="row navimg" style="position: relative" >
			<div class="">
				<div class="logo-stats">
					<span><a ui-sref="/stats">{{milesRaced}} miles raced in {{currentYear}}!</a></span>
				</div>
			</div>
			<div class="copyrightrow">
			     <span ng-bind-html="getcr"></span>
		  </div>
		</div>


		<!-- HEADER -->
		<nav class="navbar navbar-inverse" >
			<div class="navbar-header">

	        <button type="button" title="Navigation button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	      </div>
	      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
			<% if (user && user.role === 'admin') { %>
				<ul class="nav navbar-nav">
					<li ng-class="{active: $state.includes('/')}"><a ui-sref="/">Home</a></li>
					<li ng-class="{active: $state.includes('/records')}"><a ui-sref="/records">Team Records <i class="fa fa-trophy"></i></a></li>
					<li ng-class="{active: $state.includes('/results')}"><a ui-sref="/results">Team Results <i class="fa fa-list"></i></a></li>
					<li ng-class="{active: $state.includes('/members')}"><a ui-sref="/members">Team Members <i class="fa fa-users"></i></a></li>
					<li ng-class="{active: $state.includes('/stats')}"><a ui-sref="/stats">Stats <i class="fa fa-bar-chart"></i></a></li>
					<li ng-class="{active: $state.includes('/gallery')}"><a ui-sref="/gallery">Photo Gallery <i class="fa fa-camera"></i></a></li>{{open}}
					<li ng-class="{active: ($state.includes('/racetypes') || $state.includes('/report') || $state.includes('/pdf	'))}" class="uib-dropdown" uib-dropdown  on-toggle="toggled(open)">
				  	    <a href class="uib-dropdown-toggle" uib-dropdown-toggle>
				        Admin tools <span class="caret"></span>
				      </a>
				      <ul class="dropdown-menu" uib-dropdown-menu>
				        <li ng-class="{active: $state.includes('/bulk')}"><a ui-sref="/bulk">Bulk Operations</a></li>
				        <li ng-class="{active: $state.includes('/racetypes')}"><a ui-sref="/racetypes">Race Types</a></li>
				       	<li ng-class="{active: $state.includes('/report')}"><a ui-sref="/report">Create Report</a></li>
				       	<li ng-class="{active: $state.includes('/pdf')}"><a ui-sref="/pdf">Create PDF Report</a></li>
				      </ul>
				    </li>

				</ul>
				<ul class="nav navbar-nav nav-submit-admin">
					<li><a class="submitmenu" href="http://bit.ly/reportresult" target="_blank">Submit Result <i class="fa fa-plus-circle"></i></a></li>
					<li ng-class="{active: ($state.includes('/profile'))}" class="uib-dropdown" uib-dropdown  on-toggle="toggled(open)">
				  	    <a href class="uib-dropdown-toggle" uib-dropdown-toggle>
				        <%= user.email %> <span class="caret"></span>
				      </a>
				      <ul class="dropdown-menu" uib-dropdown-menu>
				        <li><a ui-sref="/profile">Profile</a></li>
				        <li><a href="/logout">Logout</a></li>
				      </ul>
				    </li>
				</ul>
			<%}else{ %>
				<ul class="nav navbar-nav" >
					<li ng-class="{active: $state.includes('/')}"><a ui-sref="/">Home</a></li>
					<li ng-class="{active: $state.includes('/records')}"><a ui-sref="/records">Team Records <i class="fa fa-trophy"></i></a></li>
					<li ng-class="{active: $state.includes('/results')}"><a ui-sref="/results">Team Results <i class="fa fa-list"></i></a></li>
					<li ng-class="{active: $state.includes('/members')}"><a ui-sref="/members">Team Members <i class="fa fa-users"></i></a></li>
					<li ng-class="{active: $state.includes('/stats')}"><a ui-sref="/stats">Stats <i class="fa fa-bar-chart"></i></a></li>
					<li ng-class="{active: $state.includes('/gallery')}"><a ui-sref="/gallery">Photo Gallery <i class="fa fa-camera"></i></a></li>
				</ul>
				<ul class="nav navbar-nav nav-submit-admin">
					<li><a class="submitmenu" href="http://bit.ly/reportresult" target="_blank">Submit Result <i class="fa fa-plus-circle"></i></a></li>
				</ul>
			<%}%>
			</div><!-- /.navbar-collapse -->
		</nav>

		<div ui-view></div>
		<footer><div class="row"><div class="col-sm-5 text-left">Site created by <a class="hoverhand" ui-sref="/members({ member: 'NicolasCrouzier'})">Nicolas Crouzier</a>. Comments, questions or requests? <a ui-sref="/contact">contact me!<i class="fa fa-email"></i></a></div><div class="col-sm-2 text-center"><a class="transparent" ui-sref="/login">admin login</a></div><div class="col-sm-5 text-right"><a title="Montgomery County Road Runners Club" href="http://www.mcrrc.org" target="_blank">MCRRC</a></div></div></footer>
	</div>
</body>

</html>
