<div class="modal-header">
    <h3 class="modal-title">Edit Bio</h3>
</div>
<div class="modal-body">
    <form name="formbio">
        <div class="form-group">
            <label class="text-left">Member bio:</label>
            <text-angular ng-model="formData.bio" ta-toolbar="[['bold','italics','underline'],['ul','ol'],['insertLink'],['undo','redo'],['clear']]"></text-angular>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="saveBio()">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
