<div class="modal-header">
    <h3 class="modal-title">Edit Bio (no funny business!)</h3>
</div>
<div class="modal-body bio-edit-form" style="max-height: 70vh; overflow-y: auto;">
    <form name="formbio">
        <div class="form-group" ng-repeat="field in bioFields">
            <label>{{field.label}}:</label>
            <textarea app-tinymce="field.options" ng-model="formData[field.key]"></textarea>
        </div>

        <hr>
        <!-- 
        <div class="form-group">
            <label>All Time PRs:</label>
            <textarea app-tinymce="field.options" ng-model="formData.prs"></textarea>
        </div>

        <div class="form-group">
            <label>Running logs: {{formData.runningLogs}}</label>
            <textarea app-tinymce="field.options" ng-model="formData.runningLogs"></textarea>
        </div> -->
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="saveBio()">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>