<div class="modal-header">
    <h3 ng-show="editmode" class="modal-title">Edit Member</h3>
    <h3 ng-show="!editmode" class="modal-title">Add Member</h3>
</div>
<div class="modal-body">
    <form name="formmember">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-error' : formmember.firstname.$invalid && !formmember.firstname.$pristine}">
                    <label class="text-left">Firstname:</label>
                    <input type="text" class="form-control input-md text-left" name="firstname" ng-model="formData.firstname" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-error' : formmember.lastname.$invalid && !formmember.lastname.$pristine}">
                    <label class="text-left">Lastname:</label>
                    <input type="text" class="form-control input-md text-left" name="lastname" ng-model="formData.lastname" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label class="text-left">Date of Birth:</label>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="formData.dateofbirth" is-open="opened" min-date="minDate" max-date="'2015-06-22'" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="text-left">Sex:</label>
                        <br>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="formData.sex" btn-radio="'Male'">Male</label>
                            <label class="btn btn-primary" ng-model="formData.sex" btn-radio="'Female'">Female</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="text-left">Member Status</label>
                        <br>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="formData.memberStatus" btn-radio="'current'">Current</label>
                            <label class="btn btn-primary" ng-model="formData.memberStatus" btn-radio="'past'">Past</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="text-left">Member bio:</label>
                <textarea class="form-control" ng-model="formData.bio" rows="3"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editMember()" ng-disabled="formmember.$invalid">Edit Member</button>
    <button ng-show="!editmode" type="submit" class="btn btn-primary" ng-click="addMember()" ng-disabled="formmember.$invalid">Add Member</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
