<div class="modal-header modern-modal-header">
    <div class="race-edit-header-content">
        <div class="race-edit-title-section">
            <h3 class="race-edit-title">
                <i class="fa fa-pencil"></i>
                Edit Race: {{race.racename}}
            </h3>
        </div>
    </div>
</div>

<div class="modal-body modern-modal-body" style="overflow: visible;">
    <form name="raceEditForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"
                    ng-class="{ 'has-error' : raceEditForm.racename.$invalid && !raceEditForm.racename.$pristine}">
                    <label class="text-left">Race name: *</label>
                    <input type="text" name="racename" class="form-control text-left" ng-model="race.racename"
                        ng-required="true" required auto-focus>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group"
                    ng-class="{ 'has-error' : raceEditForm.racedate.$invalid && !raceEditForm.racedate.$pristine}">
                    <label class="text-left">Race date: *</label>
                    <p class="input-group">
                        <input type="text" name="racedate" class="form-control input-md"
                            uib-datepicker-popup="yyyy-MM-dd" ng-model="race.racedate"
                            ng-model-options="{timezone: 'utc'}" is-open="opened" min-date="'2013-01-01'"
                            max-date="'3015-06-22'" required close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-1">
                <label class="text-left">Order:</label>
                <input type="text" ng-model="race.order" only-digits class="form-control input-md text-left"
                    placeholder="0">
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error' : raceEditForm.racetype.$invalid }">
                    <label class="text-left">Race Type: *</label>
                    <br>
                    <ui-select name="racetype" ng-required="true" ng-disabled="race.isMultisport"
                        ng-model="race.racetype" theme="select2" style="min-width: 280px;">
                        <ui-select-match placeholder="Select a race type">
                            <div
                                ng-bind-html="($select.selected.name +' <span class=\''+getRaceTypeClass($select.selected.surface)+'\'>(' + $select.selected.surface +')</span>')">
                            </div>
                        </ui-select-match>

                        <ui-select-choices
                            repeat="racetype in racetypesList | propsFilter: {name: $select.search, surface: $select.search}">
                            <div
                                ng-class="{ 'tracksurface': racetype.surface == 'track', 'trailsurface': racetype.surface == 'trail', 'roadsurface': racetype.surface == 'road', 'ultrasurface': racetype.surface == 'ultra', 'othersurface': racetype.surface == 'other'}">
                                <div
                                    ng-bind-html="(racetype.name +' <span class=\''+getRaceTypeClass(racetype.surface)+'\'>(' + racetype.surface +')</span>') | highlightignorespan: $select.search">
                                </div>
                                <span ng-show="!racetype.isVariable">
                                    <small>length in meters: {{racetype.meters | number}} m</small>
                                    <br>
                                    <small>length in miles: {{racetype.miles | number}} miles</small>
                                </span>
                                <span ng-show="racetype.isVariable">
                                    <small>Specify distance for each race result</small>
                                </span>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="row" ng-show="race.racetype.isVariable && race.racetype.surface !== 'multiple'">
            <div class="col-md-3">
                <div class="form-group"
                    ng-class="{ 'has-error' : raceEditForm.distanceName.$invalid && !raceEditForm.distanceName.$pristine}">
                    <label class="text-left">Distance Display Name:</label>
                    <input type="text" name="distanceName" ng-model="race.distanceName"
                        class="form-control input-md text-left"
                        ng-required="race.racetype.isVariable && race.racetype.surface !== 'multiple'">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"
                    ng-class="{ 'has-error' : raceEditForm.racetype.meters.$invalid && !raceEditForm.racetype.meters.$pristine}">
                    <label class="text-left">Distance in meters:</label>
                    <input type="text" ng-change="onMetersChange()" name="meters" ng-model="race.racetype.meters"
                        class="form-control input-md text-left"
                        ng-required="race.racetype.isVariable && race.racetype.surface !== 'multiple'">
                </div>
            </div>
            <div class="col-md-1 text-center">
                <label><small>Auto convert</small></label>
                <input type="checkbox" ng-model="autoconvert" ng-checked="autoconvert">
            </div>
            <div class="col-md-4">
                <div class="form-group"
                    ng-class="{ 'has-error' : raceEditForm.racetype.miles.$invalid && !raceEditForm.racetype.miles.$pristine}">
                    <label class="text-left">Distance in miles:</label>
                    <input type="text" ng-change="onMilesChange()" name="miles" ng-model="race.racetype.miles"
                        class="form-control input-md text-left"
                        ng-required="race.racetype.isVariable && race.racetype.surface !== 'multiple'">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label text-left">Country:</label>
                    <br>
                    <ui-select name="country" ng-model="race.location.country" required theme="select2"
                        style="min-width: 250px;">
                        <ui-select-match placeholder="Select a country">
                            <div ng-bind-html="$select.selected.name"></div>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="country.code as country in countries | propsFilter: {name: $select.search, code: $select.search}">
                            <div ng-class="">
                                <div
                                    ng-bind-html="(country.name + ' (' + country.code+')')| highlightignorespan: $select.search">
                                </div>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label text-left">State:</label>
                    <br>
                    <ui-select ng-disabled="race.location.country !== 'USA'" name="state" ng-model="race.location.state"
                        ng-required="race.location.country === 'USA'" theme="select2" style="min-width: 250px;">
                        <ui-select-match placeholder="Select a state">
                            <div ng-bind-html="$select.selected.name"></div>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="state.code as state in states | propsFilter: {name: $select.search, code: $select.search}">
                            <div ng-class="">
                                <div
                                    ng-bind-html="(state.name + ' (' + state.code+')')| highlightignorespan: $select.search">
                                </div>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label text-left">Shortcuts:</label>
                    <br>
                    <button class="btn btn-primary"
                        ng-click="race.location.country='USA'; race.location.state='MD'">MD</button>
                    <button class="btn btn-primary"
                        ng-click="race.location.country='USA'; race.location.state='DC'">DC</button>
                    <button class="btn btn-primary"
                        ng-click="race.location.country='USA'; race.location.state='VA'">VA</button>
                    <button class="btn btn-primary"
                        ng-click="race.location.country='USA'; race.location.state='PA'">PA</button>
                    <button class="btn btn-primary"
                        ng-click="race.location.country='USA'; race.location.state='DE'">DE</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-left">Is MultiSport?</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="race.isMultisport" ng-checked="race.isMultisport">
                            This is a multisport event (triathlon, duathlon, etc.)
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Results Section -->
        <div class="custom-options-section">
            <div class="section-header collapsible" ng-click="toggleResults()">
                <h4>
                    <i class="fa" ng-class="resultsCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                    Results <span class="item-count">({{raceResults ? raceResults.length : 0}})</span>
                </h4>
            </div>
            <div class="results-content" ng-show="!resultsCollapsed">
                <div class="loading-indicator" ng-if="loadingResults">
                    <i class="fa fa-spinner fa-spin"></i> Loading results...
                </div>

                <!-- Pull ranking data from a results page, same as the extractor -->
                <div class="result-extraction" ng-if="raceResults && raceResults.length > 0">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label text-left">Retrieve results from a link</label>
                                <input type="text" class="form-control" ng-model="extraction.url"
                                    ng-keydown="$event.keyCode === 13 && fetchResultsFromLink()"
                                    placeholder="https://mcrrc.org/race-results/... (MCRRC, RunSignUp, Athlinks, parkrun)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label text-left">&nbsp;</label><br>
                                <button type="button" class="btn btn-primary" ng-click="fetchResultsFromLink()"
                                    ng-disabled="!extraction.url || extraction.loading">
                                    <i class="fa" ng-class="extraction.loading ? 'fa-spinner fa-spin' : 'fa-download'"></i>
                                    Retrieve
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted" style="margin-top: -10px;">
                        <span ng-if="raceDayMembers.length > 0">
                            <i class="fa fa-info-circle"></i> Matching against the
                            {{raceDayMembers.length}} members on the team on
                            {{race.racedate | date:'M/d/y':'UTC'}}.
                        </span>
                        <a class="hoverhand" ng-click="extraction.showPasteBox = !extraction.showPasteBox">
                            <i class="fa" ng-class="extraction.showPasteBox ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                            Paste the page source instead
                        </a>
                    </p>

                    <!-- Some sites (mcrrc.org behind Cloudflare) refuse a
                         server-side fetch, but the browser can still load them -->
                    <div class="paste-source" ng-show="extraction.showPasteBox">
                        <p class="text-muted">
                            If the link above is refused, open it in your browser, view the page
                            source (<kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>U</kbd>), copy all of it
                            and paste it here. Keep the link in the box above so the columns are
                            read correctly and the result link gets saved.
                        </p>
                        <textarea class="form-control" rows="4" ng-model="extraction.htmlSource"
                            placeholder="Paste the full page source here (starts with &lt;!DOCTYPE html&gt; or &lt;html&gt;)"></textarea>
                        <button type="button" class="btn btn-primary" style="margin-top: 8px;"
                            ng-click="parsePastedResults()"
                            ng-disabled="!extraction.htmlSource || extraction.loading">
                            <i class="fa" ng-class="extraction.loading ? 'fa-spinner fa-spin' : 'fa-code'"></i>
                            Read pasted source
                        </button>
                    </div>

                    <!-- More than one results table on the page: let the admin
                         pick a different one if the best guess was wrong -->
                    <div class="table-choice" ng-if="extraction.tables.length > 1">
                        <label class="control-label text-left">
                            {{extraction.tables.length}} tables found on that page — using
                            <strong>{{extraction.tables[extraction.tableIndex || 0].label}}</strong>
                        </label>
                        <select class="form-control input-sm" ng-model="extraction.tableIndex"
                            ng-change="useTable(extraction.tableIndex)"
                            ng-options="table.index as (table.label + ' — ' + table.rows + ' rows, ' + table.columns + ' columns') for table in extraction.tables">
                        </select>
                    </div>

                    <!-- Column mapping: the guess is only a guess, and a column
                         read wrongly is the usual reason nothing matches -->
                    <div class="column-mapping" ng-if="extraction.tableHeaders.length > 0">
                        <a class="hoverhand" ng-click="extraction.showMapping = !extraction.showMapping">
                            <i class="fa"
                                ng-class="extraction.showMapping ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                            Column mapping
                            <small class="text-muted">({{extraction.tableHeaders.length}} columns
                                read from the page)</small>
                        </a>
                        <div ng-show="extraction.showMapping">
                            <p class="text-muted">
                                Set what each column holds. Changes update the proposals below
                                straight away.
                            </p>
                            <table class="table table-condensed column-mapping-table">
                                <thead>
                                    <tr>
                                        <th>Column</th>
                                        <th>Example value</th>
                                        <th>Holds</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="header in extraction.tableHeaders">
                                        <td><strong>{{header}}</strong></td>
                                        <td class="text-muted">{{columnSample(header)}}</td>
                                        <td>
                                            <select class="form-control input-sm"
                                                ng-model="extraction.columnMapping[header]"
                                                ng-change="onColumnMappingChange(header)"
                                                ng-options="field.value as field.label for field in availableFieldsFor(header)">
                                                <option value="">— ignore —</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="alert alert-danger" ng-if="extraction.error">{{extraction.error}}</div>
                </div>

                <!-- Proposed edits, confirmed one by one before anything changes -->
                <div class="proposed-changes"
                    ng-if="(extraction.proposals && extraction.proposals.length > 0) || extraction.additions.length > 0">
                    <div class="proposed-changes-header">
                        <h5>
                            <i class="fa fa-exchange"></i>
                            Proposed changes
                            <span class="item-count">({{proposedChangeCount()}} edit<span
                                    ng-if="proposedChangeCount() !== 1">s</span>,
                                {{proposedAdditionCount()}} new result<span
                                    ng-if="proposedAdditionCount() !== 1">s</span> selected)</span>
                        </h5>
                        <div>
                            <button type="button" class="btn btn-xs btn-default"
                                ng-click="setAllProposedChanges(true)">Select all</button>
                            <button type="button" class="btn btn-xs btn-default"
                                ng-click="setAllProposedChanges(false)">Select none</button>
                        </div>
                    </div>
                    <table class="table table-condensed proposed-changes-table"
                        ng-if="extraction.proposals.length > 0">
                        <thead>
                            <tr>
                                <th>Runner</th>
                                <th>Field</th>
                                <th>Current</th>
                                <th></th>
                                <th>From link</th>
                                <th>Apply</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="proposal in extraction.proposals">
                            <tr ng-repeat="change in proposal.changes"
                                ng-class="{'change-overwrites': !change.wasEmpty}">
                                <td>{{$first ? proposal.name : ''}}</td>
                                <td>{{change.label}}</td>
                                <td class="text-muted">
                                    <span ng-if="change.wasEmpty"><em>empty</em></span>
                                    <span ng-if="!change.wasEmpty && change.isTime">{{change.current |
                                        secondsToTimeString}}</span>
                                    <span ng-if="!change.wasEmpty && !change.isTime">{{change.current}}</span>
                                </td>
                                <td><i class="fa fa-arrow-right"></i></td>
                                <td>
                                    <strong ng-if="change.isTime">{{change.scraped | secondsToTimeString}}</strong>
                                    <strong ng-if="!change.isTime">{{change.scraped}}</strong>
                                </td>
                                <td><input type="checkbox" ng-model="change.apply"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Team members in the results with nothing stored yet -->
                    <div class="proposed-additions" ng-if="extraction.additions.length > 0">
                        <h5>
                            <i class="fa fa-user-plus"></i> New results to add
                            <small class="text-muted">on the team on race day and in these results,
                                but not stored yet</small>
                        </h5>
                        <table class="table table-condensed proposed-changes-table">
                            <thead>
                                <tr>
                                    <th>Runner</th>
                                    <th>Time</th>
                                    <th>Rankings from link</th>
                                    <th>Add</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="addition in extraction.additions" class="change-adds">
                                    <td>{{addition.name}}</td>
                                    <td><strong>{{addition.parsed.time | secondsToTimeString}}</strong></td>
                                    <td class="text-muted">
                                        <span ng-repeat="value in addition.values"
                                            ng-if="!value.isTime">{{value.label}}
                                            {{value.value}}<span ng-if="!$last">, </span></span>
                                    </td>
                                    <td><input type="checkbox" ng-model="addition.add"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="proposed-changes-actions">
                        <button type="button" class="btn btn-success" ng-click="applyProposedChanges()"
                            ng-disabled="proposedChangeCount() === 0 && proposedAdditionCount() === 0">
                            <i class="fa fa-check"></i> Apply
                            <span ng-if="proposedChangeCount() > 0">{{proposedChangeCount()}} edit<span
                                    ng-if="proposedChangeCount() !== 1">s</span></span>
                            <span
                                ng-if="proposedChangeCount() > 0 && proposedAdditionCount() > 0">and</span>
                            <span ng-if="proposedAdditionCount() > 0">{{proposedAdditionCount()}} new
                                result<span ng-if="proposedAdditionCount() !== 1">s</span></span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="discardProposedChanges()">
                            <i class="fa fa-times"></i> Discard
                        </button>
                        <span class="text-muted">Nothing is written until you save the race.</span>
                    </div>
                </div>
                <div class="results-table" ng-if="raceResults && raceResults.length > 0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Time</th>
                                    <th>Time Details</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Overall</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in raceResults" ng-class="{'result-row-new': result.isNew}">
                                    <td>
                                        {{result.members[0].firstname}} {{result.members[0].lastname}}
                                        <span ng-if="result.isNew" class="label label-success"
                                            uib-tooltip="Will be created when you save the race"
                                            tooltip-append-to-body="true">new</span>
                                        <i ng-if="result.isNew" class="fa fa-times hoverhand text-danger"
                                            ng-click="removeNewResult($index)"
                                            uib-tooltip="Remove before saving"
                                            tooltip-append-to-body="true"></i>
                                    </td>
                                    <td><span class="resultTime">{{result.time | secondsToTimeString}}</span></td>
                                    <td class="agegradeCell customtime nowrap">
                                        <div class="input-group input-group-sm" style="width: 100px;">
                                            <input type="number" min="0" style="width: 29px;"
                                                ng-model="result.timeExp.hours" only-digits class=" text-left"
                                                ng-change="updateTime(result)" placeholder="0">:<input type="number"
                                                min="0" style="width: 29px;" ng-model="result.timeExp.minutes"
                                                only-digits-for-min-sec class="text-left" ng-change="updateTime(result)"
                                                placeholder="0">:<input type="number" min="0" style="width: 29px;"
                                                ng-model="result.timeExp.seconds" only-digits-for-min-sec
                                                class="text-left" ng-change="updateTime(result)" placeholder="0">.<input
                                                type="number" min="0" style="width: 29px;"
                                                ng-model="result.timeExp.centiseconds" only-digits-for-Centisec
                                                class="text-left" ng-change="updateTime(result)" placeholder="0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-group-sm" style="width: 120px;">
                                            <input type="text" ng-model="result.ranking.agerank" only-digits
                                                class="form-inline input-md text-left" style="width: 50px;"
                                                ng-change="markResultsModified()">
                                            <span>/</span>
                                            <input type="text" ng-model="result.ranking.agetotal" only-digits
                                                class="form-inline input-md text-left" style="width: 50px;"
                                                ng-change="markResultsModified()">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-group-sm" style="width: 120px;">
                                            <input type="text" ng-model="result.ranking.genderrank" only-digits
                                                class="form-inline input-md text-left" style="width: 50px;"
                                                ng-change="markResultsModified()">
                                            <span>/</span>
                                            <input type="text" ng-model="result.ranking.gendertotal" only-digits
                                                class="form-inline input-md text-left" style="width: 50px;"
                                                ng-change="markResultsModified()">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-group-sm" style="width: 120px;">
                                            <input type="text" ng-model="result.ranking.overallrank" only-digits
                                                class="form-inline input-md text-left" style="width: 50px;"
                                                ng-change="markResultsModified()">
                                            <span>/</span>
                                            <input type="text" ng-model="result.ranking.overalltotal" only-digits
                                                class="form-inline input-md text-left" style="width: 50px;"
                                                ng-change="markResultsModified()">
                                        </div>
                                    </td>
                                    <td class="result-link-cell">
                                        <input type="text" class="form-control input-sm" ng-model="result.resultlink"
                                            ng-change="markResultsModified()" placeholder="Result link"
                                            uib-tooltip="{{result.resultlink}}" tooltip-enable="!!result.resultlink"
                                            tooltip-append-to-body="true">
                                        <a ng-if="result.resultlink" ng-href="{{result.resultlink}}" target="_blank"
                                            uib-tooltip="Open result link" tooltip-append-to-body="true">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="no-results-message" ng-if="!loadingResults && (!raceResults || raceResults.length === 0)">
                    <p class="text-muted">No results found for this race.</p>
                </div>
            </div>
        </div>

        <!-- Photo Links Section -->
        <div class="photo-links-section">
            <div class="section-header collapsible" ng-click="togglePhotoLinks()">
                <h4>
                    <i class="fa" ng-class="photoLinksCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                    Photo Links <span class="item-count">({{race.photoLinks ? race.photoLinks.length : 0}})</span>
                </h4>
                <button type="button" class="btn btn-sm btn-success"
                    ng-click="addPhotoLink(); $event.stopPropagation()">
                    <i class="fa fa-plus"></i> Add Photo Link
                </button>
            </div>
            <div class="photo-links-content" ng-show="!photoLinksCollapsed">
                <div class="photo-link-item" ng-repeat="link in race.photoLinks track by $index">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>URL</label>
                                <input type="text" class="form-control" ng-model="link.url"
                                    placeholder="https://photos.example.com/album">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Label</label>
                                <input type="text" class="form-control" ng-model="link.label"
                                    placeholder="Photos">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-sm btn-danger"
                                    ng-click="removePhotoLink($index)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-items-message" ng-if="!race.photoLinks || race.photoLinks.length === 0">
                    <p class="text-muted">No photo links added yet. Click "Add Photo Link" to get started.</p>
                </div>
            </div>
        </div>

        <!-- Custom Options Section -->
        <div class="custom-options-section">
            <div class="section-header collapsible" ng-click="toggleCustomOptions()">
                <h4>
                    <i class="fa" ng-class="customOptionsCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                    Custom Options <span class="item-count">({{race.customOptions ? race.customOptions.length :
                        0}})</span>
                </h4>
                <button type="button" class="btn btn-sm btn-success"
                    ng-click="addCustomOption(); $event.stopPropagation()">
                    <i class="fa fa-plus"></i> Add Custom Option
                </button>
            </div>
            <div class="custom-options-content" ng-show="!customOptionsCollapsed">
                <div class="custom-option-item" ng-repeat="option in race.customOptions track by $index">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Option Name</label>
                                <div class="input-group">
                                    <div class="input-group-btn" uib-dropdown>
                                        <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu>
                                            <li><a ng-click="setRaceCustomOptionPreset($index, 'raceIcon')">raceIcon</a></li>
                                            <li><a ng-click="setRaceCustomOptionPreset($index, 'raceText')">raceText</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" ng-model="option.name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Option Text</label>
                                <input type="text" class="form-control" ng-model="option.text">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Value (JSON)</label>
                                <textarea class="form-control" rows="3" ng-model="option.valueString"
                                    ng-change="updateCustomOptionValue($index)"
                                    placeholder="Enter JSON value..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-sm btn-danger"
                                    ng-click="removeCustomOption($index)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-items-message" ng-if="!race.customOptions || race.customOptions.length === 0">
                    <p class="text-muted">No custom options added yet. Click "Add Custom Option" to get started.</p>
                </div>
            </div>
        </div>

        <!-- Achievements Section -->
        <div class="achievements-section">
            <div class="section-header collapsible" ng-click="toggleAchievements()">
                <h4>
                    <i class="fa" ng-class="achievementsCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                    Achievements <span class="item-count">({{race.achievements ? race.achievements.length : 0}})</span>
                </h4>
                <button type="button" class="btn btn-sm btn-success"
                    ng-click="addAchievement(); $event.stopPropagation()">
                    <i class="fa fa-plus"></i> Add Achievement
                </button>
            </div>
            <div class="achievements-content" ng-show="!achievementsCollapsed">
                <div class="achievement-item" ng-repeat="achievement in race.achievements track by $index">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Achievement Name</label>
                                <input type="text" class="form-control" ng-model="achievement.name"
                                    ng-disabled="isAchievementDisabled(achievement)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Achievement Text</label>
                                <input type="text" class="form-control" ng-model="achievement.text"
                                    ng-disabled="isAchievementDisabled(achievement)">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Value (JSON)</label>
                                <textarea class="form-control" rows="3" ng-model="achievement.valueString"
                                    ng-change="updateAchievementValue($index)"
                                    ng-disabled="isAchievementDisabled(achievement)"
                                    placeholder="Enter JSON value..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-sm btn-danger"
                                    ng-click="removeAchievement($index)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-items-message" ng-if="!race.achievements || race.achievements.length === 0">
                    <p class="text-muted">No achievements added yet. Click "Add Achievement" to get started.</p>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer modern-modal-footer">
    <div class="footer-actions">
        <button class="btn btn-secondary modern-btn" ng-click="cancel()">
            <i class="fa fa-times"></i>
            Cancel
        </button>
        <button class="btn btn-primary modern-btn" ng-click="save()" ng-disabled="raceEditForm.$invalid">
            <i class="fa fa-save"></i>
            Save Changes
        </button>
    </div>
</div>