<div class="modal-header modern-modal-header">
    <div class="race-header-content">
        <div class="race-title-section">
            <h3 class="race-title">{{raceinfo.racename}}</h3>
            <race-icon race="raceinfo"></race-icon>
        </div>
        
        <div class="race-details-section">
            <div class="race-type-info">
                <span ng-show="!raceinfo.isMultisport && raceinfo.racetype.isVariable === true" 
                      ng-bind-html="(raceinfo.distanceName +' <span class=\''+getRaceTypeClass(raceinfo.racetype.surface)+'\'>(' + raceinfo.racetype.surface +')</span>')">
                </span>
                <span ng-show="!raceinfo.isMultisport && raceinfo.racetype.isVariable === false" 
                      ng-bind-html="(raceinfo.racetype.name +' <span class=\''+getRaceTypeClass(raceinfo.racetype.surface)+'\'>(' + raceinfo.racetype.surface +')</span>')">
                </span>
                <span ng-show="raceinfo.isMultisport" ng-bind-html="'Multiple-sport Event'"></span>
                <span ng-bind-html="raceinfo | raceinfoSportIcons | unsafe"></span>
            </div>
            
            <div class="race-meta-info">
                <div class="race-date">
                    <i class="fa fa-calendar"></i>
                    {{raceinfo.racedate | date:'yyyy-MM-dd':'UTC' }}
                </div>
                <div class="race-location">
                    <i class="fa fa-map-marker"></i>
                    <span ng-if="raceinfo.location.state !== null">
                        {{raceinfo.location.state}}
                        <img ng-if="getStateFlag(raceinfo.location.state)" 
                             ng-src="{{getStateFlag(raceinfo.location.state)}}" 
                             alt="{{raceinfo.location.state}}" 
                             class="location-flag"
                             onerror="this.style.display='none'">
                    </span>
                    <span ng-if="raceinfo.location.state === null">
                        {{raceinfo.location.country}}
                        <span ng-if="getCountryFlag(raceinfo.location.country)" 
                              class="location-flag-emoji">
                            {{getCountryFlag(raceinfo.location.country)}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="race-stats-summary">
            <div class="stat-item">
                <span class="stat-number">{{raceinfo.results.length}}</span>
                <span class="stat-label">racer<span ng-show="raceinfo.results.length > 1">s</span></span>
            </div>            
            <div class="stat-item" ng-show="fastestTimeResult">
                <span class="stat-number">{{fastestTimeResult.time | secondsToTimeString}}</span>
                <span class="stat-label">fastest time</span>
                <div class="stat-detail">{{fastestTimeResult.members[0].firstname}} {{fastestTimeResult.members[0].lastname}}</div>
            </div>
            <div class="stat-item" ng-show="bestAgeGradeResult">
                <span class="stat-number">{{bestAgeGradeResult.agegrade | number:1}}%</span>
                <span class="stat-label">best age grade</span>
                <div class="stat-detail">{{bestAgeGradeResult.members[0].firstname}} {{bestAgeGradeResult.members[0].lastname}}</div>
            </div>
            <div class="stat-item">
                <span class="stat-number">{{avg | secondsToTimeString}}</span>
                <span class="stat-label">avg time</span>
            </div>
            <div class="stat-item">
                <span class="stat-label">achievements</span>
                <div class="stat-achievements">
                    <race-achievements race="raceinfo"></race-achievements>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-body modern-modal-body">
    <div id="member-list" class="row">
        <div class="col-md-12">
            <div class="results-table-container">
                <div class="results-header modern-results-header" ng-show="raceinfo.results.length >0">
                    <div class="header-row">
                        <div class="header-cell racer-cell">
                            <span class="header-text">RACER</span>
                        </div>
                        <div class="header-cell rank-cell">
                            <span class="header-text">AGE</span>
                        </div>
                        <div class="header-cell rank-cell">
                            <span class="header-text">GENDER</span>
                        </div>
                        <div class="header-cell rank-cell">
                            <span class="header-text">OVERALL</span>
                        </div>
                        <div class="header-cell pace-cell">
                            <span class="header-text" ng-click="sortBy('time')">PACE</span>
                            <i ng-if="raceinfo.results[0].agegrade" 
                               ng-click="sortBy('agegrade')" 
                               title="Sort by age grading" 
                               class="hoverhand agesort fa fa-star"></i>
                        </div>
                        <div class="header-cell time-cell">
                            <span class="header-text" ng-click="sortBy('time')">NET TIME</span>
                        </div>
                    </div>
                </div>
                
                <div class="results-list">
                    <div class="result-row modern-result-row" 
                         ng-repeat="result in raceinfo.results" 
                         ng-class="{hoverlistbg: hover}" 
                         ng-mouseenter="hover = true" 
                         ng-mouseleave="hover = false">
                        <div class="result-content">
                            <div class="result-cell racer-cell">
                                <a ng-click="cancel()" 
                                   class="racer-link" 
                                   ui-sref="/members/member({ member: result.members[0].username })">
                                    <!-- <span uib-tooltip="{{result | membersNamesWithAgeFilter:raceinfo}}">
                                        {{result.members | membersNamesFilter:raceinfo.race | cut:false:25:"..."}}
                                    </span> -->
                                    <result-members-names-full result="result" race="raceinfo"></result-members-names-full>
                                    <result-icon result="result" race="raceinfo" race-display="true"></result-icon>
                                </a>
                            </div>
                            <div class="result-cell rank-cell">
                                <span class="rank-text" title="Age Group ranking" 
                                      ng-bind-html="result.ranking.agerank | inline_ordinal_suffix_of:true:'red' | unsafe">
                                </span>
                            </div>
                            <div class="result-cell rank-cell">
                                <span class="rank-text" title="Gender ranking" 
                                      ng-bind-html="result.ranking.genderrank | inline_ordinal_suffix_of:true:'red' | unsafe">
                                </span>
                            </div>
                            <div class="result-cell rank-cell">
                                <span class="rank-text" title="Overall ranking" 
                                      ng-bind-html="result.ranking.overallrank | inline_ordinal_suffix_of:true:'red' | unsafe">
                                </span>
                            </div>
                            <div class="result-cell pace-cell" ng-show="!raceinfo.isMultisport">
                                <result-pace race="raceinfo" result="result"></result-pace>
                            </div>
                            <div class="result-cell pace-cell" ng-show="raceinfo.isMultisport">
                                <span class="view-details-link" 
                                      title="View details" 
                                      ng-click="showResultDetailsModal(result,raceinfo.race)">
                                    View details
                                </span>
                            </div>
                            <div class="result-cell time-cell">
                                <span class="time-text">{{result.time | secondsToTimeString}}</span>
                                <a ng-show="result.resultlink !== ''" 
                                   ng-href="{{result.resultlink}}" 
                                   target="_blank" 
                                   class="result-link">
                                    <i class="fa fa-link" title="view result"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer modern-modal-footer">
    <div class="footer-actions">
        <button class="btn btn-primary modern-btn" ng-click="copyRaceLinkToClipboard()">
            <i class="fa fa-clipboard"></i>
            Copy race results permalink
        </button>
        <button class="btn btn-secondary modern-btn" ng-click="cancel()">
            <i class="fa fa-times"></i>
            Close
        </button>
    </div>
</div>
