<div class="modal-header">
    <h3 class="modal-title">Add Result</h3>
</div>
<div class="modal-body">
    <form name="formracetype">
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : formracetype.racetypename.$invalid && !formracetype.racetypename.$pristine}">
                    <label class="text-left">Race type name:</label>
                    <input type="text" name="racetypename" class="form-control input-md text-left" ng-model="formData.name" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : formracetype.surface.$invalid && !formracetype.surface.$pristine}">
                    <label class="text-left">Surface: {{formData.surface}}</label>
                    <br>
                    <ui-select name="surface" ng-model="formData.surface" theme="select2" style="min-width: 300px;" required>
                        <ui-select-match placeholder="Select a surface">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="surface in surfaces">
                            <div ng-bind-html="surface | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="text-left">Variable Distance?</label><br>
                <button type="button" class="btn btn-primary" ng-model="formData.isVariable" ng-click="formData.isVariable = !formData.isVariable" btn-checkbox>
                    {{formData.isVariable}}
                </button>
            </div>
        </div>
        <div class="row" ng-show="!formData.isVariable">
            <div class="col-md-5">
                <div class="form-group" ng-class="{ 'has-error' : formracetype.meters.$invalid && !formracetype.meters.$pristine}">
                    <label class="text-left">Distance in meters:</label>
                    <input type="text" ng-change="onMetersChange()" name="meters" ng-model="formData.meters" class="form-control input-md text-left" ng-required="!formData.isVariable">
                </div>
            </div>
            <div class="col-md-1 text-center">
                <label><small>Auto convert</small></label>
                <input type="checkbox" ng-model="autoconvert" ng-checked="autoconvert">
            </div>
            <div class="col-md-5">
                <div class="form-group" ng-class="{ 'has-error' : formracetype.miles.$invalid && !formracetype.miles.$pristine}">
                    <label class="text-left">Distance in miles:</label>
                    <input type="text" ng-change="onMilesChange()" name="miles" ng-model="formData.miles" class="form-control input-md text-left" ng-required="!formData.isVariable">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editRaceType()" ng-disabled="formracetype.$invalid">Edit Race Type</button>
    <button ng-show="!editmode" type="submit" class="btn btn-primary" ng-click="addRaceType()" ng-disabled="formracetype.$invalid">Add Race Type</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
