<div class="modal-header">
    <span class="modal-title h3 bold"> {{raceinfo.race.racename}}</span> -- <span ng-show="!raceinfo.race.isMultisport && raceinfo.race.racetype.isVariable === true" ng-bind-html="(raceinfo.race.distanceName +' <span class=\''+getRaceTypeClass(raceinfo.race.racetype.surface)+'\'>(' + raceinfo.race.racetype.surface +')</span>')"></span><span ng-show="!raceinfo.race.isMultisport && raceinfo.race.racetype.isVariable === false" ng-bind-html="(raceinfo.race.racetype.name +' <span class=\''+getRaceTypeClass(raceinfo.race.racetype.surface)+'\'>(' + raceinfo.race.racetype.surface +')</span>')"></span><span ng-show="raceinfo.race.isMultisport" ng-bind-html="'Multiple-sport Event'"></span><span  ng-bind-html="raceinfo | raceinfoSportIcons | unsafe"></span>  -- <span >{{raceinfo.race.racedate | date:'yyyy-MM-dd':'UTC' }}</span>
    <br>{{raceinfo.results.length}} racer<span ng-show="raceinfo.results.length > 1">s</span>
    <br>Average time: {{avg | secondsToTimeString}}
</div>
<div class="modal-body" style ="padding: 0px;">
    <div id="member-list" class="row">
        <div class="col-md-12">
            <ul class="results-list list-group" style="margin-bottom: 0px;">
                <li class="list-group-item text-left resultlistheader" ng-show="raceinfo.results.length >0">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="listheader" title="Race's name">Racer</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="listheader" title="Net Time">Net Time</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="listheader" title="Pace">Pace</span>
                        </div>
                        <div class="col-sm-1">
                            <span class="listheader" title="Pace">Overall</span>
                        </div>
                        <div class="col-sm-1">
                            <span class="listheader" title="Pace">Gender</span>
                        </div>
                        <div class="col-sm-1">
                            <span class="listheader" title="Pace">Age</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item text-left resultlistrow" ng-repeat="result in raceinfo.results" ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <div class="row">
                        <div class="col-sm-3">
                            <a ng-click="cancel()" class="hoverhand" ui-sref="/members({ member: result.members[0].firstname+result.members[0].lastname })"><span uib-tooltip="{{result | membersNamesWithAgeFilter:raceinfo.race}}" >{{result.members | membersNamesFilter:raceinfo.race | cut:false:25:"..."}}</span></a>
                        </div>
                        <div class="col-sm-3">
                            <span>{{result.time | secondsToTimeString}}</span> <a ng-show="result.resultlink !== ''" ng-href="{{result.resultlink}}" target="_blank"><i class="fa fa-link" ng-show="result.resultlink !== ''" title="view result"></i></a>
                        </div>
                        <div class="col-sm-3" ng-show="!raceinfo.race.isMultisport">
                            <result-pace-raceinfo></result-pace-raceinfo>
                        </div>
                        <div class="col-sm-3" ng-show="raceinfo.race.isMultisport">
                            <span  class="hoverhandandunderline" title="View details" ng-click="showResultDetailsModal(result,raceinfo.race)" >View details</span>
                        </div>
                        <div class="col-sm-1">
                            <span class="center" title="Overall ranking" ng-bind-html="result.ranking.overallrank | inline_ordinal_suffix_of:true:'red' | unsafe"></span>
                        </div>
                        <div class="col-sm-1">
                            <span class="center" title="Gender ranking" ng-bind-html="result.ranking.genderrank | inline_ordinal_suffix_of:true:'red' | unsafe"></span>
                        </div>
                        <div class="col-sm-1">
                            <span class="center" title="Age Group ranking" ng-bind-html="result.ranking.agerank | inline_ordinal_suffix_of:true:'red' | unsafe"></span>
                        </div>
                    </div>                 
                </li>
                <!-- <li dir-paginate="result in resultsList | itemsPerPage: 10">{{ result.racename }}</li> -->
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
</div>
