<div class="modal-header">
    <h3 class="modal-title">Add Result</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group css-form">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label text-left">Race name:</label>
                    <input type="text" class="form-control input-md text-left" ng-model="formData.racename">
                </div>
                <div class="col-md-3">
                    <label class="control-label text-left">Race date:</label>
                    <p class="input-group">
                        <input type="text" class="form-control input-md" datepicker-popup="{{format}}" ng-model="formData.racedate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="col-md-5">
                    <label class="control-label text-left">Race Type:</label>
                    <br>
                    <ui-select ng-model="formData.racetype" theme="select2" style="min-width: 300px;">
                        <ui-select-match placeholder="Select a race type">{{$select.selected.name}} ({{$select.selected.surface}})</ui-select-match>
                        <ui-select-choices repeat="racetype in racetypesList | propsFilter: {name: $select.search, surface: $select.search}">
                            <div ng-class="{ 'tracksurface': racetype.surface == 'track', 'xcsurface': racetype.surface == 'cross country', 'roadsurface': racetype.surface == 'road', 'ultrasurface': racetype.surface == 'ultra', 'othersurface': racetype.surface == 'other'}">
                                <div ng-bind-html="(racetype.name +' (' + racetype.surface +')') | highlight: $select.search"></div>
                                <small>length in meters: {{racetype.meters | number}} m</small>
                                <br>
                                <small>length in miles: {{racetype.miles | number}} miles</small>
                            </div>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="resultmembers">
                    <label class="control-label text-left">Racer:</label> <img class="hoverhand" ng-show="user.role != 'admin'" ng-click="addNbMembers()" ng-src="images/add.png" title="Add Member" alt="Add Member">
                        <br>
                        <memberselector ng-repeat="member in formData.member track by $index" index="{{$index}}" datamembers="formData.member" members="membersList"></memberselector>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-left">Hours:</label>
                    <input type="text" ng-model="time.hours" only-digits class="form-control input-md text-left">
                </div>
                <div class="col-md-2">
                    <label class="control-label text-left">Minutes:</label>
                    <input type="text" ng-model="time.minutes" only-digits-for-min-sec class="form-control input-md text-left">
                </div>
                <div class="col-md-2">
                    <label class="control-label text-left">Seconds:</label>
                    <input type="text" ng-model="time.seconds" only-digits-for-min-sec class="form-control input-md text-left">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label text-left">Result web link:</label>
                    <input type="text" ng-model="formData.resultlink" class="form-control input-md text-left">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!-- createMember() WILL CREATE NEW Members -->
    <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editResult()">Edit Result</button>
    <button ng-show="!editmode" type="submit" class="btn btn-primary" ng-click="addResult()">Add Result</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
