<div class="modal-header modern-modal-header">
    <div class="race-header-content">
        <div class="race-title-section">
            <h3 class="race-title">{{race.racename}}</h3>
            <race-icon race="race"></race-icon>
        </div>
        
        <div class="race-details-section">
            <div class="race-info-panel">
                <div class="race-type-info">
                    <span ng-show="!race.isMultisport && race.racetype.isVariable === true" 
                          ng-bind-html="(race.distanceName +' <span class=\''+getSurfaceClass(race.racetype.surface)+'\'>(' + race.racetype.surface +')</span>')">
                    </span>
                    <span ng-show="!race.isMultisport && race.racetype.isVariable === false" 
                          ng-bind-html="(race.racetype.name +' <span class=\''+getSurfaceClass(race.racetype.surface)+'\'>(' + race.racetype.surface +')</span>')">
                    </span>
                    <span ng-show="race.isMultisport" ng-bind-html="'Multiple-sport Event'"></span>
                    <span ng-bind-html="race | raceinfoSportIcons | unsafe"></span>
                </div>
                
                <div class="race-meta-info">
                    <div class="meta-item">
                        <i class="fa fa-calendar"></i>
                        <span>{{race.racedate | date:'MMM d, yyyy':'UTC' }}</span>
                    </div>
                    
                    <div class="meta-item">
                        <i class="fa fa-user"></i>
                        <span><result-members-names-full race="race" result="result"></result-members-names-full></span>
                    </div>
                    
                    <div class="meta-item">
                        <i class="fa fa-clock-o"></i>
                        <span>{{result.time | secondsToTimeString}}</span>
                    </div>
                    
                    <div class="meta-item" ng-show="result.resultlink !== undefined && result.resultlink !== ''">
                        <a ng-href="{{result.resultlink}}" target="_blank" class="result-link">
                            <i class="fa fa-link"></i>
                            <span>View Result</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-body modern-modal-body">
    <div class="results-table-container">
        <div class="results-header modern-results-header" ng-show="result.legs.length > 0">
            <div class="header-row">
                <div class="header-cell leg-cell">
                    <span class="header-text">LEG NAME</span>
                </div>
                <div class="header-cell distance-cell">
                    <span class="header-text">DISTANCE</span>
                </div>
                <div class="header-cell time-cell">
                    <span class="header-text">NET TIME</span>
                </div>
                <div class="header-cell pace-cell">
                    <span class="header-text">PACE</span>
                </div>            
            </div>
        </div>
        
        <div class="results-list">
            <div class="result-row modern-result-row" 
                 ng-repeat="leg in result.legs | orderBy:'order'" 
                 ng-class="{hoverlistbg: hover, 'transition-leg': leg.isTransition}" 
                 ng-mouseenter="hover = true" 
                 ng-mouseleave="hover = false">
                <div class="result-content">
                    <div class="result-cell leg-cell">
                        <span class="leg-name" ng-show="!leg.isTransition">{{leg.legName}}</span>
                        <span class="transition-badge" ng-show="leg.isTransition">{{leg.legName}}</span>
                    </div>
                    <div class="result-cell distance-cell">
                        <span class="distance-text">{{leg.distanceName}}</span>
                    </div>
                    <div class="result-cell time-cell">
                        <span class="time-text">{{leg.time | secondsToTimeString}}</span>
                    </div>
                    <div class="result-cell pace-cell">
                        <multisport-pace></multisport-pace>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
    
    <div class="comments-section" ng-show="result.comments !== undefined && result.comments !== ''">
        <div class="comments-panel">
            <h5><i class="fa fa-comment"></i> Comments</h5>
            <div class="comment-text">"{{result.comments}}"</div>
        </div>
    </div>
</div>

<div class="modal-footer modern-modal-footer">
    <div class="footer-actions">
        <button class="btn btn-secondary modern-btn" ng-click="cancel()">
            <i class="fa fa-times"></i>
            Close
        </button>
    </div>
</div>
