<div class="modal-header">
    <span class="modal-title h3 bold"> {{result.race.racename}}</span> -- <span ng-bind-html="result | resultSportIcons | unsafe"></span> -- <span >{{result.race.racedate | date:'yyyy-MM-dd':'UTC' }}</span> -- <span><a ng-show="result.resultlink !== undefined" ng-href="{{result.resultlink}}" target="_blank"><i class="fa fa-link hoverhand" ng-show="result.resultlink !== ''" title="view result"></i></a>
</div>
<div class="modal-body" style ="padding: 0px;">
    <div class="row" style="margin-left:0;" ng-show="result.comments !== undefined && result.comments !== ''">
        <div class="col-md-12">
            <h4>Total time: <span class="bold">{{result.time | secondsToTimeString}}</span></h4>
            
        </div>
    </div>
    <div id="member-list" class="row">
        <div class="col-md-12">
            <ul class="results-list list-group">
                <li class="list-group-item text-left resultlistheader" ng-show="result.legs.length >0">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="listheader" title="Leg">Leg Name</span>
                        </div>
                        <div class="col-sm-2">
                            <span class="listheader" title="Leg">Leg Distance</span>
                        </div>
                        <div ng-class="user.role == 'admin' ?'col-sm-2' :'col-sm-2'">
                            <span class="listheader" title="Net Time">Net Time</span>
                        </div>
                        <div class="col-sm-2">
                            <span class="listheader" title="Pace">Pace</span>
                        </div>
                        <div class="col-sm-1" ng-show="user.role == 'admin'">
                            <span class="listheader" title="Edit">Edit</span>
                        </div>
                    </div>
                </li>
                <li ng-repeat="leg in result.legs | orderBy:'order'" class="list-group-item text-left resultlistrow" class="list-group-item text-left resultlistrow"  ng-class="{hoverlistbg: hover, 'lightergraybg': leg.isTransition}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <div class="row">
                        <div class="col-sm-6">
                            <span>{{leg.legName}}</span>
                        </div>
                        <div class="col-sm-2">
                            <span>{{leg.distanceName}}</span>
                        </div>
                        <div ng-class="user.role == 'admin' ?'col-sm-2' :'col-sm-2'">
                            <span>{{leg.time | secondsToTimeString}}</span>
                        </div>
                        <div class="col-sm-2" >
                            <multisport-pace></multisport-pace>
                        </div>
                        <div class="col-sm-1" ng-show="user.role == 'admin'">
                            <span class="pull-right"><i class="hoverhand fa fa-pencil-square-o" ng-show="user.role == 'admin'" ng-click="retrieveResultForEdit(result)" title="edit result" ></i><i class="hoverhand fa fa-times" ng-show="user.role == 'admin'" ng-click="removeResult(result)" title="remove result" ></i> </span >
                        </div>
                    </div>                 
                </li>
                <!-- <li dir-paginate="result in resultsList | itemsPerPage: 10">{{ result.racename }}</li> -->
            </ul>
        </div>
    </div>
    <div class="row" style="margin-left:0;" ng-show="result.comments !== undefined && result.comments !== ''">
        <div class="col-md-12">
            <h4>Comment</h4>
            <div>"{{result.comments}}"</div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
</div>
