<div class="modal-header">
    <h3 class="modal-title">Add Result <i class="red hoverhand fa fa-trash-o" ng-click="clearForm()" title="Clear form" ></i></h3>
</div>
<div class="modal-body">
    <form name="formresult">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error' : formresult.raceename.$invalid && !formresult.raceename.$pristine}">
                    <label class="text-left">Race name:</label>
                    <input type="text" name="raceename" class="form-control  text-left" ng-model="formData.racename" ng-required="true" required auto-focus>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" ng-class="{ 'has-error' : formresult.racedate.$invalid && !formresult.racedate.$pristine}">
                    <label class="text-left">Race date:</label>
                    <p class="input-group">
                        <input type="text" name="racedate" class="form-control input-md" datepicker-popup="yyyy-MM-dd" ng-model="formData.racedate" is-open="opened" min-date="'2013-01-01'" max-date="'3015-06-22'" required close-text="Close" />
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group" ng-class="{ 'has-error' : formresult.racetype.$invalid }">
                    <label class="text-left">Race Type:</label>
                    <br>
                    <ui-select name="racetype" ng-model="formData.racetype" theme="select2" style="min-width: 300px;" required>
                        <ui-select-match placeholder="Select a race type">
                            <div ng-bind-html="($select.selected.name +' <span class=\''+getRaceTypeClass($select.selected.surface)+'\'>(' + $select.selected.surface +')</span>')"></div>
                        </ui-select-match>

                        <ui-select-choices repeat="racetype in racetypesList | propsFilter: {name: $select.search, surface: $select.search}">
                            <div ng-class="{ 'tracksurface': racetype.surface == 'track', 'xcsurface': racetype.surface == 'cross country', 'roadsurface': racetype.surface == 'road', 'ultrasurface': racetype.surface == 'ultra', 'othersurface': racetype.surface == 'other'}">
                                <!-- <div ng-bind-html="(racetype.name +' (' + racetype.surface +')') | highlight: $select.search"></div> -->
                                <div ng-bind-html="(racetype.name +' <span class=\''+getRaceTypeClass(racetype.surface)+'\'>(' + racetype.surface +')</span>') | highlightignorespan: $select.search"></div>
                                <span ng-show="!racetype.isVariable">
                                    <small>length in meters: {{racetype.meters | number}} m</small>
                                    <br>
                                    <small>length in miles: {{racetype.miles | number}} miles</small>
                                </span>
                                <span ng-show="racetype.isVariable">
                                <small>Specify distance for each race result</small>
                                </span>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row" ng-show="formData.racetype.isVariable">
            <div class="col-md-5">
                <div class="form-group" ng-class="{ 'has-error' : formresult.racetype.meters.$invalid && !formresult.racetype.meters.$pristine}">
                    <label class="text-left">Distance in meters:</label>
                    <input type="text" ng-change="onMetersChange()" name="meters"  ng-model="formData.racetype.meters" class="form-control input-md text-left" required>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <label><small>Auto convert</small></label>
                <input type="checkbox" ng-model="autoconvert" ng-checked="autoconvert">
            </div>
            <div class="col-md-5">
                <div class="form-group" ng-class="{ 'has-error' : formresult.racetype.miles.$invalid && !formresult.racetype.miles.$pristine}">
                    <label class="text-left">Distance in miles:</label>
                    <input type="text" ng-change="onMilesChange()" name="miles"  ng-model="formData.racetype.miles" class="form-control input-md text-left" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label text-left">Racer:</label> <i class="hoverhand fa fa-user-plus" ng-show="user.role != 'admin'" ng-click="addNbMembers()" title="Add a race"></i>
                    <br>
                    <span ng-repeat="member in formData.members track by $index">
                        <ui-select name="member_{{$index}}"  ng-model="formData.members[$index]" theme="select2" style="min-width: 300px;" required>
                            <ui-select-match   placeholder="Select a member">{{$select.selected.firstname}} {{$select.selected.lastname}}  <i ng-show="$select.selected.sex == 'Male'" class="fa fa-mars" title="male" ></i><i ng-show="$select.selected.sex == 'Female'" class="fa fa-venus" title="female" ></i></ui-select-match>
                            <ui-select-choices repeat="member in membersList | memberFilter: $select.search">
                                <div ng-bind-html="(member.firstname +' ' + member.lastname) | highlight: $select.search"></div>
                                <small>age: {{member.dateofbirth | ageFilter}}  gender: <i ng-show="member.sex == 'Male'" class="fa fa-mars" title="male" ></i><i ng-show="member.sex == 'Female'" class="fa fa-venus" title="female" ></i> </small>
                            </ui-select-choices>
                        </ui-select>
                        <i ng-show="$index !=0" class="hoverhand fa fa-times" ng-click="formData.members.splice($index, 1);" title="Delete member"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-2">
                <label class=" text-left">Hours:</label>
                <input type="text" ng-model="time.hours" only-digits class="form-control input-md text-left" placeholder="0">
            </div>
            <div class="col-md-2">
                <label class="text-left">Minutes:</label>
                <input type="text" ng-model="time.minutes" only-digits-for-min-sec class="form-control input-md text-left" placeholder="0">
            </div>
            <div class="col-md-2">
                <label class="text-left">Seconds:</label>
                <input type="text" ng-model="time.seconds" only-digits-for-min-sec class="form-control input-md text-left" placeholder="0">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class=" text-left">Age group:</label>
                <input type="text" ng-model="formData.ranking.agerank" name="agerank" only-digits class="form-inline input-md text-left" style="width: 50px;">
                <input type="text" ng-model="formData.ranking.agetotal" only-digits class="form-inline  input-md text-left" style="width: 50px;">
            </div>
            <div class="col-md-4">
                <label class=" text-left">Gender:</label>
                <input type="text" ng-model="formData.ranking.genderrank" only-digits class="form-inline input-md text-left" style="width: 50px;">
                <input type="text" ng-model="formData.ranking.gendertotal" only-digits class="form-inline input-md text-left" style="width: 50px;">
            </div>
            <div class="col-md-4">
                <label class=" text-left">Overall:</label>
                <input type="text" ng-model="formData.ranking.overallrank" only-digits class="form-inline input-md text-left" style="width: 50px;">
                <input type="text" ng-model="formData.ranking.overalltotal" only-digits class="form-inline input-md text-left" style="width: 50px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="text-left">Comments/remarks</label>
                <textarea class="form-control" rows="3" name="message" ng-model="formData.comments" ]></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="text-left">Result web link:</label>
                <input type="text" ng-model="formData.resultlink" class="form-control input-md text-left">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-show="editmode" type="submit" class="btn btn-primary" ng-click="editResult()" ng-disabled="formresult.$invalid || !checkMembers()">Edit Result</button>
    <button ng-show="!editmode" type="submit" class="btn btn-primary" ng-click="addResult()" ng-disabled="formresult.$invalid || !checkMembers()">Add Result</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
