<div class="modal-header">
    <h3 ng-show="editmode" class="modal-title">Edit Volunteer Job</h3>
    <h3 ng-show="!editmode" class="modal-title">Add Volunteer Job</h3>
</div>
<div class="modal-body">
    <form name="formvolunteerjob">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error' : formvolunteerjob.member.$invalid && !formvolunteerjob.member.$pristine}">
                    <label class="control-label text-left">Member:</label>
                    <br>
                    <ui-select name="member" ng-model="formData.member" theme="select2" style="min-width: 300px;" required>
                        <ui-select-match placeholder="Select a member">
                            {{$select.selected.firstname}} {{$select.selected.lastname}}
                            <i ng-show="$select.selected.sex == 'Male'" class="fa fa-mars" title="Men"></i>
                            <i ng-show="$select.selected.sex == 'Female'" class="fa fa-venus" title="Women"></i>
                        </ui-select-match>
                        <ui-select-choices repeat="member in membersList | memberFilter: $select.search">
                            <span ng-class="{'past-member' : member.memberStatus === 'past'}">
                                <div ng-bind-html="(member.firstname +' ' + member.lastname) | highlight: $select.search"></div>
                                <small>
                                    age: {{member.dateofbirth | ageFilter}}
                                    gender: <i ng-show="member.sex == 'Male'" class="fa fa-mars" title="Men"></i>
                                            <i ng-show="member.sex == 'Female'" class="fa fa-venus" title="Women"></i>
                                    <span ng-if="member.memberStatus === 'past'">(past)</span>
                                </small>
                            </span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : formvolunteerjob.eventName.$invalid && !formvolunteerjob.eventName.$pristine}">
                    <label class="text-left">Event Name:</label>
                    <input type="text" name="eventName" class="form-control input-md text-left"
                           ng-model="formData.eventName" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : formvolunteerjob.jobDate.$invalid && !formvolunteerjob.jobDate.$pristine}">
                    <label class="text-left">Job Date:</label>
                    <p class="input-group">
                        <input type="text" name="jobDate" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               ng-model="formData.jobDate" ng-model-options="{timezone: 'utc'}"
                               is-open="opened" min-date="'2013-01-01'" max-date="'3015-01-01'"
                               datepicker-append-to-body="true"
                               required close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error' : formvolunteerjob.description.$invalid && !formvolunteerjob.description.$pristine}">
                    <label class="text-left">Description:</label>
                    <textarea name="description" class="form-control" ng-model="formData.description" rows="3" required></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-show="editmode" type="submit" class="btn btn-primary"
            ng-click="editVolunteerJob()" ng-disabled="formvolunteerjob.$invalid">
        Edit Volunteer Job
    </button>
    <button ng-show="!editmode" type="submit" class="btn btn-primary"
            ng-click="addVolunteerJob()" ng-disabled="formvolunteerjob.$invalid">
        Add Volunteer Job
    </button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
