<div class="jumbotron">
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="/stats/team">Team Stats</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="/stats/us-map">US Races Map</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="/stats/world-map">World Races Map</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-if="user.role === 'admin' || user.role == 'user'">
            <a ui-sref="/stats/participation">Participation Stats</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-if="user.role == 'admin' || user.role == 'user'">
            <a ui-sref="/stats/members">Team Members Stats</a>
        </li>
    </ul>

    <!-- Participation Stats Content -->
    <div class="row text-left">
        <div class="col-md-3">
            <label class="text-left">From:</label>
            <div class="input-group">
                
                <input type="text" class="form-control"
                    uib-datepicker-popup="yyyy-MM-dd" ng-model="partdates.participationStatsStart"
                    ng-change="selectDate()" ng-model-options="{timezone: 'utc'}" is-open="participationStatsStartPicker.opened"
                    min-date="'2013-01-01'" max-date="'3015-01-01'" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        ng-click="openParticipationStatsStartPicker($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        
        <div class="col-md-3">
            <label class="text-left">To:</label>
            <div class="input-group">

                <input type="text"  class="form-control"
                    uib-datepicker-popup="yyyy-MM-dd" ng-model="partdates.participationStatsEnd"
                    ng-change="selectDate()" ng-model-options="{timezone: 'utc'}" is-open="participationStatsEndPicker.opened"
                    min-date="'2013-01-01'" max-date="'3015-01-01'" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openParticipationStatsEndPicker($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>                 
        </div>
        <div class="col-md-6">
        </div>
    </div>
    
    <!-- Loading spinner for Participation Stats -->
    <div ng-if="loadingStates.participationStats" class="text-center" style="padding: 50px;">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p style="margin-top: 15px;">Loading participation statistics...</p>
    </div>
    
    <!-- Content when not loading -->
    <div ng-if="!loadingStates.participationStats">
        <div class="row text-left">
            <div class="col-md-12">
                <table style="table-layout:fixed; width: 100%;">
                    <tr>
                        <th style="width:30px;">#</th>
                        <th style="width:25%;"><a href="" ng-click="fieldParticipation='firstname'; reverseSortParticipation = !reverseSortParticipation">Member <span ng-show="fieldParticipation == 'firstname'"><span ng-show="!reverseSortParticipation">^</span><span ng-show="reverseSortParticipation">v</span></a></th>
                        <th style="width:25%;"><a href="" ng-click="fieldParticipation='age'; reverseSortParticipation = !reverseSortParticipation">Age <span ng-show="fieldParticipation == 'age'"><span ng-show="!reverseSortParticipation">^</span><span ng-show="reverseSortParticipation">v</span></a></th>
                        <th style="width:25%;"><a href="" ng-click="fieldParticipation='numberofraces'; reverseSortParticipation = !reverseSortParticipation">Number of races ran <span ng-show="fieldParticipation == 'numberofraces'"><span ng-show="!reverseSortParticipation">^</span><span ng-show="reverseSortParticipation">v</span></a></th>
                        <th style="width:25%;"><a href="" ng-click="fieldParticipation='maxage'; reverseSortParticipation = !reverseSortParticipation">Max AG % <span ng-show="fieldParticipation == 'maxage'"><span ng-show="!reverseSortParticipation">^</span><span ng-show="reverseSortParticipation">v</span></a></th>
                    </tr>
                    <tr ng-class="r.memberStatus === 'past' ?'red':'' " ng-repeat="r in participationStats |sortMembers:fieldParticipation:reverseSortParticipation track by $index">
                        <td>{{$index+1}}</td>
                        <td><a ui-sref="/members({ member: r.firstname+r.lastname }) " class="{{r.memberStatus === 'past' ?'red':'' }}">{{r.firstname}} {{r.lastname}}</a></td>
                        <td>{{r | memberAgeFilter}}</td>
                        <td><span>{{r.numberofraces}}</span></td>
                        <td><span class="hoverhandandunderline resultEvent"  ng-click="showRaceFromRaceIdModal(r.maxRaceId)" >{{r.max}}<span ng-if="r.max<70">😬</span></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> 