<div class="jumbotron">
    <!-- Navigation -->
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="/stats/team">Team Stats</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="/stats/us-map">US Races Map</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref="/stats/world-map">World Races Map</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-if="user.role === 'admin' || user.role == 'user'">
            <a ui-sref="/stats/requirements">Team Requirements</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-if="user.role === 'admin'">
            <a ui-sref="/stats/participation">Participation Stats</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-if="user.role == 'admin'">
            <a ui-sref="/stats/members">Team Members Stats</a>
        </li>
    </ul>

    <!-- Team Stats Content -->
    <div class="row text-left">
        <div class="col-md-9">

        </div>
        <div class="col-md-3">
            <div style="float:right;">
                <ui-select ng-model="miscStats.year" ng-change="getMiscStats()" theme="select2"
                    style="min-width: 60px;">{{yearsList}}
                    <ui-select-match placeholder="Select a year">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="year in yearsList">
                        <div ng-bind="year"></div>
                    </ui-select-choices>
                </ui-select>

            </div>
        </div>
    </div>
    <!-- Loading spinner for Team stats -->
    <div ng-if="loadingStates.miscStats" class="text-center" style="padding: 50px;">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p style="margin-top: 15px;">Loading team statistics...</p>
    </div>

    <!-- Content when not loading -->
    <div ng-if="!loadingStates.miscStats">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-bar-chart"></i> General Stats</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left" style="border: none;">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>Number of results</strong>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{miscStats.resultsCount}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-left" style="border: none;">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>Miles raced</strong>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{miscStats.milesRaced | number}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-left" style="border: none;">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>Number of wins by team members</strong>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{miscStats.raceWon | number}}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-left" style="border: none;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <strong>Most popular race distances:</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-left" style="border: none;">
                                <div class="panel-body">
                                    <d3-pie-chart data="teamRaceTypeBreakdown" width="350" height="250"
                                        on-slice-click="goToResultsWithQuery({distance: data.name, year: miscStats.year !== 'All Time' ? miscStats.year : undefined})">
                                    </d3-pie-chart>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-users"></i> Best Turnout</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left"
                                ng-repeat="race in miscStats.bestTurnout track by $index" style="border: none;"
                                ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true"
                                ng-mouseleave="hover = false">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>{{$index + 1}}. <span class="hoverhandandunderline resultEvent"
                                                ng-click="showRaceFromRaceIdModal(race._id)">{{race.racename}}</span></strong>
                                        <br><small>{{race.racedate | date:'yyyy-MM-dd':'UTC'}} - {{race.racetype.name}}
                                            <span ng-if="race.location.state !== null"
                                                ng-bind-html="'(' + race.location.state + ')'"></span><span
                                                ng-if="race.location.state === null"
                                                ng-bind-html="'(' + race.location.country + ')'"></span></small>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{race.teamMembers}} members
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-flag-checkered"></i> Most Races Completed</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left"
                                ng-repeat="member in miscStats.mostRaces track by $index" style="border: none;"
                                ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true"
                                ng-mouseleave="hover = false">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>{{$index + 1}}. <a
                                                ui-sref="/members/member({ member: member.username })">{{member.name}}</a></strong>
                                        <br><small>{{member.avgRacesPerYear}} avg/year, {{member.yearsRacing}} years
                                            racing</small>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <a ng-click="goToResultsWithQuery({members:[{username: member.username}], year: miscStats.year !== 'All Time' ? miscStats.year : undefined})"
                                            class="hoverhandandunderline"
                                            uib-tooltip="View all results for {{member.name}}"
                                            tooltip-placement="left">{{member.races}} races</a><span class="hoverhand"
                                            uib-tooltip="({{member.parkrunRaces}} parkrun races)"
                                            tooltip-placement="right" ng-show="member.parkrunRaces">*</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-globe"></i> Most Traveled Runners</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left"
                                ng-repeat="member in miscStats.mostTraveled track by $index" style="border: none;"
                                ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true"
                                ng-mouseleave="hover = false">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>{{$index + 1}}. <a
                                                ui-sref="/members/member({ member: member.username })">{{member.name}}</a></strong>
                                        <br><small>{{member.uniqueCountries}} {{member.uniqueCountries === 1 ? 'country'
                                            : 'countries'}}, {{member.uniqueStates}} {{member.uniqueStates === 1 ?
                                            'state' : 'states'}}</small>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{member.uniqueLocations}} locations
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-road"></i> Most Miles Raced</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left"
                                ng-repeat="member in miscStats.mostMiles track by $index" style="border: none;"
                                ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true"
                                ng-mouseleave="hover = false">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>{{$index + 1}}. <a
                                                ui-sref="/members/member({ member: member.username })">{{member.name}}</a></strong>
                                        <br><small>{{member.races}} races, {{member.avgMilesPerRace}} avg
                                            miles/race</small>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{member.miles}} miles
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-trophy"></i> Most Wins</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left"
                                ng-repeat="member in miscStats.mostWins track by $index" style="border: none;"
                                ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true"
                                ng-mouseleave="hover = false">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>{{$index + 1}}. <a
                                                ui-sref="/members/member({ member: member.username })">{{member.name}}</a></strong>
                                        <br><small>{{member.races}} total races</small>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <a ng-click="goToResultsWithQuery({members:[{username: member.username, ranking: '1'}], year: miscStats.year !== 'All Time' ? miscStats.year : undefined})"
                                            class="hoverhandandunderline"
                                            title="View all wins for {{member.name}}">{{member.wins}} wins</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-star"></i> Best Age Grades</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left"
                                ng-repeat="member in miscStats.bestAgeGrades track by $index" style="border: none;"
                                ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true"
                                ng-mouseleave="hover = false">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>{{$index + 1}}. <a
                                                ui-sref="/members/member({ member: member.username })">{{member.name}}</a></strong>
                                        <br><small><span class="hoverhandandunderline resultEvent"
                                                ng-click="showRaceModal(member.bestAgeGradeRace)">{{member.bestAgeGradeRace.racename}}</span>
                                            (avg: {{member.avgAgeGrade}}%)</small>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{member.bestAgeGrade}}%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-calendar"></i> Most Consistent Racers</h4>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" style="margin: 0; border: none;">
                            <li class="list-group-item text-left"
                                ng-repeat="member in miscStats.mostConsistent track by $index" style="border: none;"
                                ng-class="{hoverlistbg: hover}" ng-mouseenter="hover = true"
                                ng-mouseleave="hover = false">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <strong>{{$index + 1}}. <a
                                                ui-sref="/members/member({ member: member.username })">{{member.name}}</a></strong>
                                        <br><small>{{member.races}} races over {{member.yearsRacing}} years</small>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        {{member.avgRacesPerYear}}/year
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>